@model LeafShop.Models.ThuongHieu

@{
    ViewBag.Title = "Create";
}

<h2 style="font-size: 30px">Thêm mới thương hiệu</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pt-4 pb-3">
            <div class="row">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    @*<h5 class="mb-4 pb-1">Mã thương hiệu</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form md-outline mt-0">
                                @Html.EditorFor(model => model.MaThuongHieu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaThuongHieu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Tên thương hiệu</label>
                        @Html.EditorFor(model => model.TenThuongHieu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenThuongHieu, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Địa chỉ</label>
                        @Html.EditorFor(model => model.DiaChiThuongHieu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChiThuongHieu, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Điện thoại</label>
                        @Html.EditorFor(model => model.DienThoaiThuongHieu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DienThoaiThuongHieu, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        @Html.ActionLink("Quay trở lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}