@model LeafShop.Models.Blog

@{
    ViewBag.Title = "Create";
}

<h2 style="font-size: 30px">Thêm mới Blog</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pt-4 pb-3">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h5 class="mb-4 pb-1">Mã bài viết</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form md-outline mt-0">
                                @Html.EditorFor(model => model.MaBaiViet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaBaiViet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Mã nhân viên</label>
                        @Html.DropDownList("MaNhanVien", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Tiêu đề</label>
                        @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Ảnh</label>
                        @Html.EditorFor(model => model.Anh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Tóm tắt</label>
                        @Html.EditorFor(model => model.Tomtat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tomtat, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Nội dung</label>
                        @Html.EditorFor(model => model.Tomtat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Noidung, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        @Html.ActionLink("Quay trở lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}