@model PagedList.IPagedList<LeafShop.Models.DanhMucBlog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Danh mục bài viết";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý danh mục bài viết</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-8">
                    @*<span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Thêm mới", "Create")*@
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
                        Thêm mới
                    </button>
                </div>
                <div class="col-sm-4">
                    <div id="datatable_filter" class="dataTables_filter">
                        <form>
                            <button type="submit" hidden>My Button</button>
                            <input type="text" class="form-control" name="searchString" value="@ViewBag.searchString" id="searchString" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="basic-addon2" />
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Mã danh mục blog
                        </th>
                        <th>
                            Tên danh mục blog
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.MaDanhMucBlog)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenDanhMucBlog)</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="loadData(@item.MaDanhMucBlog)" data-target="#modalUpdate" style="background-color: forestgreen">
                                    Cập nhật
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" onclick="deleteItem(@item.MaDanhMucBlog)" style="background-color: red">
                                    Xoá
                                </button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page,
            currentFilter = ViewBag.CurrentFilter
            }))
        </div>
    </div>
</div>

<!-- Modal -->
@section Popup{
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">THÊM MỚI DANH MỤC BLOG</h5>
                </div>
                <div class="modal-body">
                    <form id="add-form">
                        <div class="form-group">
                            <label for="TenDanhMucBlog">Tên danh mục blog</label>
                            <input type="text" class="form-control" id="tenDanhMucBlog" name="TenDanhMucBlog" placeholder="Nhập tên danh mục blog">
                        </div>
                    </form>
                    <p id="add-message"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="themDanhMucBlog()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section changePopup {
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">CẬP NHẬT DANH MỤC BLOG</h5>
                </div>
                <div class="modal-body">
                    <form id="update-form" onsubmit="return capNhatDanhMucBlog()">
                        <input type="hidden" name="MaDanhMucBlog" id="madmblog1" />
                        <div class="form-group">
                            <label for="tenDanhMucBlog1">Tên danh mục blog</label>
                            <input type="text" class="form-control" id="tenDanhMucBlog1" name="TenDanhMucBlog" placeholder="Nhập tên danh mục blog">
                        </div>
                        <p id="update-message"></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="capNhatDanhMucBlog()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section deletePopup {
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">XOÁ DANH MỤC BLOG</h5>
                </div>
                <div class="modal-body">
                    <h5 class="form-group mb-4 text-center fa-1x">
                        Bạn có chắc chắn muốn xóa danh mục blog này không ?
                    </h5>
                    <input type="hidden" value="" id="delete-madmblog"/>

                    <button type="submit" class="btn btn-block btn-danger" onclick="xoaDanhMucBlog()">Xoá</button>
                    <button type="button" class="btn btn-block border-primary" data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
}

<script src="~/Areas/Administrator/Assets/DanhMucBlog.js"></script>
