@model LeafShop.Models.KhachHang

@{
    ViewBag.Title = "Login & Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function check() {
        if (document.getElementById("pwd").value != document.getElementById("pwd-confirm").value) {
            document.getElementById("error-message").innerHTML = "Mật khẩu không khớp";
            return false;
        }
        return true;
    }
</script>
<!-- #page-title end -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

                <!-- login -->
                <div id='login'>
                    <div class="acctitle"><i class="acc-closed fa fa-lock"></i><i class="acc-open fa fa-unlock"></i>Đăng nhập</div>
                    <div class="acc_content clearfix">
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            @Html.ValidationMessage("ErrorLogin", new { @class = "text-danger" })
                            <hr />
                            <div class="form-group">
                                <label>Tài khoản</label>
                                @Html.TextBoxFor(model => model.TenDangNhap,
                                            new { @class = "form-control", @name = "tendangnhap", @autoforcus = "autofocus", @required = "required", @placeholder = "Nhập tài khoản" })
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                @Html.PasswordFor(model => model.MatKhau,
                                           new { @class = "form-control", @name = "matkhau", @required = "required", @placeholder = "Nhập mật khẩu" })
                            </div> <!-- <p class="lost-password"><a href="forgot-password.html">Forgot password?</a></p> -->
                            <input type="submit" value="Đăng nhập" class="return-customer-btn">}
                    </div>
                </div>
                <!-- end login -->
                <!-- register -->
                <div id='register'>
                    <div class="acctitle"><i class="acc-closed fa fa-user"></i><i class="acc-open fa fa-check-circle"></i>Người dùng mới? Đăng ký tài khoản</div>
                    <div class="acc_content clearfix">
                        @using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { onsubmit = " return check()" }))
                        {
                            @Html.ValidationMessage("ErrorSignUp", new { @class = "text-danger" })
                            <div class="col_full">
                                <label for="first_name">Tên:<span class="required require_symbol">*</span></label>
                                @Html.TextBoxFor(model => model.TenKhachHang,
                                            new { @class = "form-control", @name = "tenkhachhang", @autoforcus = "autofocus", @required = "required", @placeholder = "Họ và tên" })
                            </div>

                            <div class="col_full">
                                <label for="register-form-email">Tên đăng nhập:<span class="required require_symbol">*</span></label>
                                @Html.TextBoxFor(model => model.TenDangNhap,
                                            new { @class = "form-control", @name = "tendangnhap", @autoforcus = "autofocus", @required = "required", @placeholder = "Username" })
                            </div>

                            <div class="col_full">
                                <label for="register-form-password">Mật khẩu:<span class="required require_symbol">*</span></label>
                                <input type="password" class="form-control" id="pwd" name="matkhau" placeholder="Mật khẩu" required>
                            </div>

                            <div class="col_full">
                                <label for="register-form-repassword">Nhập lại mật khẩu:<span class="required require_symbol">*</span></label>
                                <input type="password" class="form-control" id="pwd-confirm" placeholder="Xác nhận mật khẩu" required>
                            </div>

                            <div class="col_full nobottommargin">
                                <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" onsubmit="check()" type='submit'>Đăng ký</button>
                            </div>
                            <p style="color:red; font-weight:bold; font-size: 18px" id="error-message"></p>

                        }
                    </div>
                </div>

                <div id='forgot-password'>
                    <div class="acctitle"><i class="acc-closed fa fa-unlock"></i><i class="acc-open fa fa-check-circle"></i>Quên mật khẩu</div>
                    <div class="acc_content clearfix">
                        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { onsubmit = " return check()" }))
                        {
                            @Html.ValidationMessage("ErrorForgot", new { @class = "text-danger" })

                            <div class="col_full">
                                <label for="first_name">Email:<span class="required require_symbol">*</span></label>
                                @Html.TextBoxFor(model => model.Email,
                                            new { @class = "form-control", @name = "email", @autoforcus = "autofocus", @required = "required", @placeholder = "Họ và tên" })
                            </div>

                            <div class="col_full">
                                <label for="register-form-phone">Số điện thoại:<span class="required require_symbol">*</span></label>
                                @Html.TextBoxFor(model => model.DienThoaiKhachHang,
                                            new { @class = "form-control", @name = "dienthoaikhachhang", @autoforcus = "autofocus", @required = "required", @placeholder = "Số điện thoại" })
                            </div>

                            <div class="col_full">
                                <label for="register-form-password">Mật khẩu:<span class="required require_symbol">*</span></label>
                                <input type="password" class="form-control" id="pwd" name="matkhau" placeholder="Mật khẩu" required>
                            </div>

                            <div class="col_full">
                                <label for="register-form-repassword">Nhập lại mật khẩu:<span class="required require_symbol">*</span></label>
                                <input type="password" class="form-control" id="pwd-confirm" placeholder="Xác nhận mật khẩu" required>
                            </div>

                            <div class="col_full nobottommargin">
                                <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" onsubmit="check()" type='submit'>Xác nhận</button>
                            </div>
                            <br />
                            <p style="color:red; font-weight:bold; font-size: 18px" id="error-message"></p>
                        }
                    </div>
                </div>
                <!-- end register -->
                <!-- end forgot password -->
            </div>


        </div>

    </div>
</section>
