@model PagedList.IPagedList<LeafShop.Models.DatHang>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Đặt hàng";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý đặt hàng</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                @*<div class="col-sm-6">
                        <span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Thêm mới", "Create")
                    </div>*@
                <div class="col-sm-12">
                    <div id="datatable_filter" class="dataTables_filter">
                        @using (Html.BeginForm())
                        {
                            //Tìm kiếm:  <label><input type="search" class="form-control input-sm" placeholder=""></label>
                            <p>
                                <input type="submit" value="Tìm" class="btn btn-primary" />
                                @Html.TextBox("SearchString")
                            </p>
                        }
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Tên nhân viên
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Ngày khởi tạo
                        </th>
                        <th>
                            Ngày giao hàng
                        </th>
                        <th>
                            Ghi chú
                        </th>
                        <th>
                            Địa chỉ nhận hàng
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)</td>
                            <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
                            <td>@Html.DisplayFor(modelItem => item.NgayKhoiTao)</td>
                            <td>@Html.DisplayFor(modelItem => item.NgayGiaoHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                            <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                            <td>@(item.TrangThai?"Chưa hoàn thành":"Hoàn thành")</td>
                            <td>
                                @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaDatHang }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDatHang })|
                                @Html.ActionLink("Xoá", "Delete", new { id = item.MaDatHang })
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page,
            currentFilter = ViewBag.CurrentFilter
            }))
        </div>
    </div>
</div>

@section changePopup {
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">CẬP NHẬT DANH MỤC BLOG</h5>
                </div>
                <div class="modal-body">
                    <form id="update-form" onsubmit="return capNhatDanhMucBlog()">
                        <input type="hidden" name="MaDanhMucBlog" id="madmblog1" />
                        <div class="form-group">
                            <label for="tenDanhMucBlog1">Tên danh mục blog</label>
                            <input type="text" class="form-control" id="tenDanhMucBlog1" name="TenDanhMucBlog" placeholder="Nhập tên danh mục blog">
                        </div>
                        <p id="update-message"></p>
                    </form>
                </div>
                <div class="form-group">
                    <label for="MaThuongHieu">Mã thương hiệu</label>
                    <br />
                    <select class="form-select mb-0" id="math1" name="MaThuongHieu"
                            aria-label="category select example" required style="height: 30px; width: 440px;">
                        @foreach (var item in ViewBag.thuongHieus)
                        {
                            <option id="@item.MaDatHang" value="@item.MaDatHang">@item.MaDatHang</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="capNhatDatHang()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section deletePopup {
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">XOÁ ĐƠN HÀNG</h5>
                </div>
                <div class="modal-body">
                    <h5 class="form-group mb-4 text-center fa-1x">
                        Bạn có chắc chắn muốn xóa danh mục blog này không ?
                    </h5>
                    <input type="hidden" value="" id="delete-madh" />

                    <button type="submit" class="btn btn-block btn-danger" onclick="xoaDatHang()">Xoá</button>
                    <button type="button" class="btn btn-block border-primary" data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
}

<script src="~/Areas/Administrator/Assets/DatHang.js"></script>