@model LeafShop.Models.DanhMuc

@{
    ViewBag.Title = "Create";
}

<h2 style="font-size: 30px">Thêm mới danh mục</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pt-4 pb-3">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h5 class="mb-4 pb-1">Mã danh mục</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form md-outline mt-0">
                                @Html.EditorFor(model => model.MaDanhMuc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Tên danh mục</label>
                        @Html.EditorFor(model => model.TenDanhMuc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDanhMuc, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">ParentId</label>
                        @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        @Html.ActionLink("Quay trở lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}