@model LeafShop.Models.Taikhoan

@{
    ViewBag.Title = "Edit";
}

<h2 style="font-size: 30px">Cập nhật tài khoản</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNhanVien)
        <div class="pt-4 pb-3">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Username</label>
                        @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Password</label>
                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                    </div>

                    <div class="md-form md-outline mt-0">
                        <br />
                        <label for="form15">Quản trị</label>
                        @Html.RadioButtonFor(model => model.Quantri, true)
                        <span>Quản trị viên</span>

                        @Html.RadioButtonFor(model => model.Quantri, false)
                        <span>Nhân viên</span>
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-default" style="height: 37px; width: 100px"/>
                        @Html.ActionLink("Quay trở lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
