@model LeafShop.Models.SanPham

@{
    ViewBag.Title = "Create";
}

<h2>Thêm mới sản phẩm</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pt-4 pb-3">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h5 class="mb-4 pb-1">Mã sản phẩm</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form md-outline mt-0">
                                @Html.EditorFor(model => model.MaSanPham, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaSanPham, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Tên sản phẩm</label>
                        @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Mã danh mục</label>
                        @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Mã thương hiệu</label>
                        @Html.DropDownList("MaThuongHieu", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaThuongHieu, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Mã khu vực</label>
                        @Html.DropDownList("MaKhuVuc", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaKhuVuc, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Đơn vị tính</label>
                        @Html.EditorFor(model => model.DonViTinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Số lượng</label>
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Số lượng bán</label>
                        @Html.EditorFor(model => model.SoLuongBan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuongBan, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Đơn giá</label>
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Mô tả</label>
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Ngày cập nhật</label>
                        @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Hình minh hoạ</label>
                        @Html.EditorFor(model => model.HinhMinhHoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HinhMinhHoa, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Bình luận</label>
                        @Html.EditorFor(model => model.BinhLuan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BinhLuan, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        @Html.ActionLink("Quay trở lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}