@model LeafShop.Models.SanPham

@{
    ViewBag.Title = "Delete";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc.TenKhuVuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuVuc.TenKhuVuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieu.TenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu.TenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKhoiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhMinhHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhMinhHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinhLuan)
        </dt>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Quay trở lại", "Index")
        </div>
    }
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger col-lg-2" role="alert">@ViewBag.Error</div>
}