@model PagedList.IPagedList<LeafShop.Models.SanPham>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Sản phẩm";
}
<script src="~/Areas/Administrator/ckeditor/ckeditor.js"></script>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý sản phẩm</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
                        Thêm mới
                    </button>
                </div>
                <div class="col-sm-4">
                    <div id="datatable_filter" class="dataTables_filter">
                        <form>
                            <button type="submit" hidden>My Button</button>
                            <input type="text" class="form-control" name="searchString" value="@ViewBag.searchString" id="searchString" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="basic-addon2" />
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Đơn vị tính
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Số lượng bán
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th style="width:300px;">
                            Mô tả
                        </th>
                        <th>
                            Ngày khởi tạo
                        </th>
                        <th>
                            Ngày cập nhật
                        </th>
                        <th>
                            Hình minh hoạ
                        </th>

                        <th style="width:150px;">Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSanPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSanPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonViTinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuongBan)
                            </td>
                            <td>
                                @String.Format("{0:0,0đ}", item.DonGia)
                            </td>
                            <td>
                                @{
                                    HtmlString msg = new HtmlString(item.MoTa);
                                }
                                @msg
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayKhoiTao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayCapNhat)
                            </td>
                            <td>
                                <img style="width:100px; height: 100px" src="@item.HinhMinhHoa" class="img-thumbnail" />
                            </td>

                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="loadData(@item.MaSanPham)" data-target="#modalUpdate" style="background-color: forestgreen">
                                    Cập nhật
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" onclick="deleteData(@item.MaSanPham)" style="background-color: red">
                                    Xoá
                                </button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page,
            currentFilter = ViewBag.CurrentFilter
            }))
        </div>
    </div>
</div>
<!-- Modal -->
@section Popup{
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">THÊM MỚI SẢN PHẨM</h5>
                </div>
                <div class="modal-body">
                    <form id="add-form" onsubmit="return themSanPham()">
                        <div class="form-group">
                            <label for="MaSanPham">Mã sản phẩm</label>
                            <input type="text" class="form-control" id="masp" name="MaSanPham" placeholder="Nhập mã sản phẩm">
                        </div>
                        <div class="form-group">
                            <label for="MaThuongHieu">Mã thương hiệu</label>
                            <br />
                            <select class="form-select " id="math" name="MaThuongHieu"
                                    aria-label="category select example" required style="height: 30px; width: 440px;">
                                @foreach (var item in ViewBag.thuongHieus)
                                {
                                    <option value="@item.MaThuongHieu">@item.TenThuongHieu</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="MaDanhMuc">Mã danh mục</label>
                            <br />
                            <select class="form-select " id="madm" name="MaDanhMuc"
                                    aria-label="category select example" required style="height: 30px; width: 440px;">
                                @foreach (var item in ViewBag.danhMucs)
                                {
                                    <option value="@item.MaDanhMuc">@item.TenDanhMuc</option>

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="TenSanPham">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="tenSanPham" name="TenSanPham" placeholder="Nhập tên sản phẩm">
                        </div>
                        <div class="form-group">
                            <label for="DiaChi">Đơn vị tính</label>
                            <input type="text" class="form-control" id="donViTinh" name="DonViTinh" placeholder="Nhập đơn vị tính">
                        </div>
                        <div class="form-group">
                            <label for="SoLuong">Số lượng</label>
                            <input type="text" class="form-control" id="soLuong" name="SoLuong" placeholder="Nhập số lượng">
                        </div>
                        <div class="form-group">
                            <label for="SoLuong">Mô tả</label>
                            <textarea class="ckeditor" name="MoTa" id="moTa" placeholder="Nhập mô tả" ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="DienThoai">Đơn giá</label>
                            <input type="number" class="form-control" id="donGia" name="DonGia" placeholder="Nhập đơn giá">
                        </div>

                        <div class="form-group">
                            <label for="form14">Hình minh hoạ</label>
                            <br />
                            <img id="output" class="img-rounded" alt="Ảnh" width="500" height="500" src="~/Content/image/h0.png" />

                            <input type="file" id="uploadhinh" name="ImagesFile" accept="image/*" onchange="loadFile(event)" style="margin-top: 20px" />
                        </div>
                        <p id="add-message"></p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="themSanPham()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section changePopup {
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">CẬP NHẬT SẢN PHẨM</h5>
                </div>
                <div class="modal-body">
                    <form id="update-form"  runat="server">
                        <input type="hidden" name="MaSanPham" id="masp1" />
                        <div class="form-group">
                            <label for="TenSanPham">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="tenSanPham1" name="TenSanPham" placeholder="Nhập tên sản phẩm">
                        </div>
                        <div class="form-group">
                            <label for="MaThuongHieu">Mã thương hiệu</label>
                            <br />
                            <select class="form-select mb-0" id="math1" name="MaThuongHieu"
                                    aria-label="category select example" required style="height: 30px; width: 440px;">
                                @foreach (var item in ViewBag.thuongHieus)
                                {
                                    <option id="@item.MaThuongHieu" value="@item.MaThuongHieu">@item.TenThuongHieu</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="MaDanhMuc">Mã danh mục</label>
                            <br />
                            <select class="form-select mb-0" id="madm1" name="MaDanhMuc"
                                    aria-label="category select example" required style="height: 30px; width: 440px;">
                                @foreach (var item in ViewBag.danhMucs)
                                {
                                    <option id="@item.MaDanhMuc" value="@item.MaDanhMuc">@item.TenDanhMuc</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="DiaChi">Đơn vị tính</label>
                            <input type="text" class="form-control" id="donViTinh1" name="DonViTinh" placeholder="Nhập đơn vị tính">
                        </div>
                        <div class="form-group">
                            <label for="SoLuong">Số lượng</label>
                            <input type="text" class="form-control" id="soLuong1" name="SoLuong" placeholder="Nhập số lượng">
                        </div>
                        <div class="form-group">
                            <label for="MoTa">Mô tả</label>
                            @*<input type="text" class="form-control" id="moTa1" name="MoTa" placeholder="Nhập mô tả">*@
                            <textarea class="ckeditor" name="MoTa" id="moTa1" placeholder="Nhập mô tả" runat="server"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="DienThoai">Đơn giá</label>
                            <input type="number" class="form-control" id="donGia1" name="DonGia" placeholder="Nhập đơn giá">
                        </div>

                        <div class="form-group">
                            <label for="form14">Hình minh hoạ</label>
                            <br />
                            <img id="output2" class="img-rounded" alt="Ảnh" width="500" height="500" src="~/Content/image/h0.png" />

                            <input type="file" id="uploadhinh1" name="ImagesFile" accept="image/*" onchange="loadFile2(event)" style="margin-top: 20px" />
                        </div>
                        <p id="update-message"></p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="capNhatSanPham()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section deletePopup {
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">XOÁ SẢN PHẨM</h5>
                </div>
                <div class="modal-body">
                    <h4 class="form-group mb-4 text-center fa-1x">
                        Bạn đã chắc chắn chưa ?
                    </h4>
                    <input type="hidden" value="" id="delete-masp" />

                    <button type="button" class="btn btn-block btn-danger" onclick="xoaSanPham()">Xoá</button>

                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }

    var loadFile2 = function (event) {
        var image = document.getElementById('output2');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

<script src="~/Areas/Administrator/Assets/SanPham.js"></script>
