@model PagedList.IPagedList<LeafShop.Models.NhanVien>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Quản lý nhân viên</h2>
<br />
<p>
    <span class="glyphicon glyphicon-plus"></span>@Html.ActionLink(" Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Tên nhân viên
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Avatar
        </th>
        <th>
            Email
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @(item.GioiTinh?"Nam":"Nữ")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaNhanVien }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaNhanVien }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaNhanVien })
            </td>
        </tr>
    }

</table>
<br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page,
            currentFilter = ViewBag.CurrentFilter
            }))