@model PagedList.IPagedList<LeafShop.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://kit.fontawesome.com/e38e0bb8bb.js" crossorigin="anonymous"></script>

<div id='product-pop-up' style="display:none;" class="single-product shop-quick-view-ajax clearfix">

    <div class="ajax-modal-title">
        <a href='#'><h2>Pink Printed Dress</h2></a>
    </div>

    <div class="product-page product modal-padding clearfix">
        <div class="col-md-6 nobottommargin">
            <div class="product-image">
                <div class="product-main-image">
                    <div class="pd_slide_qv">
                        <img data-lazy="">
                    </div>
                    <div class='pd_slide_thumb_qv'>

                    </div>
                </div>
                <div class="sale-flash">Sale!</div>
            </div>
        </div>
        <div class="col-md-6 nobottommargin product-desc">
            <div class="product-price"> <ins style='margin-right: 5px;'>$24.99</div>
            <div class="clear"></div>
            <div class="line"></div>
            <!-- variants -->
            <div class="product-page-options ">
                <div class="sizePicker">
                    <label class="control-label options-title">Kích thước:</label>
                    <div class='options-selection'>
                        <select class="form-control input-sm size"></select>
                    </div>
                </div>
                <div class="sizePicker">
                    <label class="control-label options-title">Màu sắc:</label>
                    <div class='options-selection'>
                        <select class="form-control input-sm color" style='color:#555!important;'></select>
                    </div>
                </div>
                <div class="sizePicker">
                    <label class="control-label options-title">Chất liệu:</label>
                    <div class='options-selection'>
                        <select class="form-control input-sm material"></select>
                    </div>
                </div>
            </div>
            <!-- end variant -->
            <!-- Product Single - Quantity & Cart Button
            ============================================= -->
            <form id='ProductDetailsFormQV' class="nobottommargin clearfix">
                <div class="quantity product-quantity clearfix col-xs-6 noleftpadding">
                    <input type="button" value="-" class="minus">
                    <input type="text" class='qty' id='product_quantity' readonly step="1" min="1" name="quantity" value="1" title="Qty" class="qty" size="4" />
                    <input type="button" value="+" class="plus">
                </div>
                <script></script>
                <div class="hidden" style="">
                    <select id="product-select-qw" name="id">
                    </select>

                    <input type="hidden" class="unit_price_not_formated" value="">
                    <input type="hidden" class="product_url" value="">
                    <input type="hidden" class="product_title_hd" value="">
                    <input type="hidden" class="product_img_small" value="">
                </div>
                <button type="submit" id='addtocartQV' class="addtocartQV button nomargin col-xs-6">Add to cart</button>
                <button class='buy_btn buynow buynow_qv button col-xs-12 noleftmargin norightmargin' id='buynow'>Mua ngay</button>
            </form>

            <div class="clear"></div>
            <div class="line"></div>
            <p class="description">Libero velit id eaque ex quae laboriosam nulla optio doloribus! Perspiciatis, libero, neque, perferendis at nisi optio dolor!</p>
        </div>
    </div>
</div>
<script>
var callBackQV = function(variant, selector) {
	//console.log('callBackQV  is functioning...');
	var $tagPrice = '#product-pop-up .product-price ins';
	var $tagPriceCompare = '#product-pop-up .product-price del';
	var $tagProductSection = '#ProductDetailsFormQV';
	update_variant(variant, $tagPrice, $tagPriceCompare, '#addtocartQV', $tagProductSection);

	Aecomapp.tranBox("0");
	var path = selector.product.url;
	var title = $(this).text();
	var url = window.location.protocol + "//" + window.location.host + path + "?title=" + title;
	$.ajax({
		url: url,
		success: function(response) {
			var desText = $(response).find(".page_title h1").text().trim();
			var descriptionText = $(response).find(".aetabs-tabs").text().trim();

			$(".ajax-modal-title h2").text(desText);
			// $("#product-pop-up .description").html(descriptionText);
		}
	});
}

/*
   *  strip_html_js
   *
   * ref: http://stackoverflow.com/questions/822452/strip-html-from-text-javascript
   * author phong.nguyen 20150806
   */
function strip_html_js(html)
{
	var tmp = document.createElement("DIV");
	tmp.innerHTML = html;
	return tmp.textContent || tmp.innerText || "";
}

var quickViewProduct = function (purl) {

	// if ($(window).width() < 680) { window.location = purl; return false; }
	// modal = $('#quick-view-modal'); modal.modal('show');
	$.ajax({
		url: purl + '.js',
		async: false,
		success: function (product) {

			//console.log('quick view...asd01');
			//make-up "product-pop-up"

			//
			var $slide_qv = $('#product-pop-up .product-main-image .pd_slide_qv');
			var $slide_thumb_qv = $('#product-pop-up .product-main-image .pd_slide_thumb_qv');
			if (product.images.length == 0) {
				$slide_thumb_qv.remove();
				$('#product-pop-up .product-main-image .pd_slide_qv img').attr('src', '~/Content/Clone_leaforganic/Leaforganic/hstatic.net/0/0/global/noDefaultImage6_large.gif');
			}
			else{
				var html = '';
				var html_thumb = '';
				$slide_qv.remove();
				$slide_thumb_qv.remove();
				html = '<div class="pd_slide_qv">';
				html_thumb = '<div class="pd_slide_thumb_qv slick_thumb">';
				$.each(product.images, function (i, v) {
					html += '<div class="slick-slide" ><div class="img"><img data-lazy="'+ v +'"></div></div>';
					html_thumb += '<div class="slick-slide" ><div class="img"><img data-lazy="'+ v +'"></div></div>';
				});
				html += '</div>';
				html_thumb += '</div>';
				html += html_thumb;
				$('#product-pop-up .product-main-image').html(html);
				$('.pd_slide_qv').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-angle-left"></i></button>',
					nextArrow: '<button type="button" class="slick-next"><i class="fa fa-angle-right"></i></button>',
					lazyLoad: 'progressive',
					asNavFor: '.pd_slide_thumb_qv'
				});
				$('.pd_slide_thumb_qv').slick({
					slidesToShow: 3,
					slidesToScroll: 1,
					arrows:false,
					lazyLoad: 'progressive',
					asNavFor: '.pd_slide_qv',
					focusOnSelect: true,
					centerMode: true,
				});
			}//end images length
			// render basic info. main img, desc, qty, ...
			var $strDesc = strip_html_js(product.description);
			var $strPrice = Haravan.formatMoney(product.price, "{{amount}} VND") + 'đ';
			var $strComparePrice = Haravan.formatMoney(product.compare_at_price, "{{amount}} VND") + 'đ';
			$('#product-pop-up .description').html($strDesc.split(" ").splice(0,50).join(" ")+' ...');   // truncate 250 words
			$('#product-pop-up .ajax-modal-title h2').html(product.title);
			$('#product-pop-up .ajax-modal-title a').attr('href',purl);
			$('#product-pop-up .product-price ins').html($strPrice);
			if (product.price < product.compare_at_price) {
				$('#product-pop-up .product-price del').html($strComparePrice);
			}
			else {
				$('#product-pop-up .product-price del').html('');
				$('#product-pop-up .sale-flash').hide();
			}
			$('#product-pop-up .qty').val(1);
			var quantity = parseInt($('#ProductDetailsFormQV .product-quantity input.qty').val());
			$('#ProductDetailsFormQV .minus').click(function() {
				if (quantity > 0) {
					if (quantity == 1) {
						$('#addtocartQV').attr('disabled','disabled');
					}
					quantity -= 1;

				}
				else {
					quantity = 0;
				}
				$('#ProductDetailsFormQV .product-quantity input.qty').val(quantity);
			});
			$('#ProductDetailsFormQV .plus').click(function() {
				$('#addtocartQV').removeAttr('disabled');
				if (quantity < 100) {
					quantity += 1;
				}
				else {
					quantity = 100;
				}
				$('#ProductDetailsFormQV .product-quantity input.qty').val(quantity);
			});
			$('#product-pop-up .more_details').attr('href', product.url);
			// assign hidden values
			$('#product-pop-up .unit_price_not_formated').val(product.price);
			$('#product-pop-up .product_title_hd').val(product.title);
			$('#product-pop-up .product_url').val(product.url);
			$('#product-pop-up .product_img_small').val(product.featured_image);  // AAA!!!

			//render variant size/color
			// $('#product-pop-up .price strong').html(product.title);

			//render selections (NOT formatted yet)
			$('select#product-select-qw').html('');
			$('.product-page-options select.size').html('');
			$('.product-page-options select.color').html('');
			$('.product-page-options select.material').html('');
			$('.selector-wrapper').remove(); // remove all selectors by  Haravan.OptionSelectors
			var $arrSize = [];
			var $arrColor = [];
			var $arrMaterial = [];
			$.each(product.variants, function (i, v) {
				$('select#product-select-qw').append("<option value='" + v.id + "'>" + v.title + ' - ' + v.price + "</option>");
				if($arrSize.indexOf(v.option1) <= -1 )
				{
					$('#product-pop-up select.size').append("<option >" + v.option1 + "</option>");
					$arrSize.push(v.option1);
				}

				if($arrColor.indexOf(v.option2) <= -1 )
				{
					$('#product-pop-up select.color').append("<option >" + v.option2 + "</option>");
					$arrColor.push(v.option2);
				}

				if($arrMaterial.indexOf(v.option3) <= -1 )
				{
					$('#product-pop-up select.material').append("<option >" + v.option3 + "</option>");
					$arrMaterial.push(v.option3);
				}
			});

			//phong.nguyen 20150806: show label options 1,2,...
			$($('#product-pop-up .product-page-options label')[0]).html(product.options[0].name);

			var $option1_label = $('#product-pop-up .product-page-options label')[1];
			var $option1_item = $('#product-pop-up .product-page-options .sizePicker')[1];
			var $option2_label = $('#product-pop-up .product-page-options label')[2];
			var $option2_item = $('#product-pop-up .product-page-options .sizePicker')[2];
			if(product.options.length >= 2)
			{
				$($option1_label).html(product.options[1].name);
				$($option1_item).removeClass('hidden');
				if (product.options.length >= 3)  {
					$($option2_label).html(product.options[2].name);
					$($option2_item).removeClass('hidden');
				}
				else {
					$($option2_item).addClass('hidden');
				}
			}
			else {
				$($option1_item).addClass('hidden');
				$($option2_item).addClass('hidden');
			}


			//show/hide for any/1 variant
			if (product.variants.length <= 1 ) {
				// callBackQV(product.variants[0], null);
				$('#product-pop-up .product-page-options').addClass('hidden');
			}
			else {
				// // debugger...
				$('#product-pop-up .product-page-options').removeClass('hidden');

			}

			//call back function for variants
			new Haravan.OptionSelectors("product-select-qw", { product: product, onVariantSelected: callBackQV });


			// function: choose size
			$('#product-pop-up select.size').change(function(){
				var $size = $(this).val();
				var $color = $('#product-pop-up select.color').val();
				var $material = $('#product-pop-up select.material').val();
				var $tagSelectOption0 = '#product-select-qw-option-0';
				var $tagSelectOption1 = '#product-select-qw-option-1';
				var $tagSelectOption2 = '#product-select-qw-option-2';

				refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1 , $color,$tagSelectOption2, $material);
			});

			// function: choose color
			$('#product-pop-up select.color').change(function(){
				var $size = $('#product-pop-up select.size').val();
				var $color = $(this).val();
				var $material = $('#product-pop-up select.material').val();
				var $tagSelectOption0 = '#product-select-qw-option-0';
				var $tagSelectOption1 = '#product-select-qw-option-1';
				var $tagSelectOption2 = '#product-select-qw-option-2';

				refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1 , $color,$tagSelectOption2, $material);
			});

			// function: choose material
			$('#product-pop-up select.material').change(function(){
				var $size = $('#product-pop-up select.size').val();
				var $color = $('#product-pop-up select.color').val();
				var $material = $(this).val();
				var $tagSelectOption0 = '#product-select-qw-option-0';
				var $tagSelectOption1 = '#product-select-qw-option-1';
				var $tagSelectOption2 = '#product-select-qw-option-2';

				refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1 , $color,$tagSelectOption2, $material);
			});


			//second item: $($("#colorPicker option").get(1))...
			$("#product-pop-up select.size option:first").attr('selected', 'selected');
			$("#product-pop-up select.color option:first").attr('selected', 'selected');
			$("#product-pop-up select.material option:first").attr('selected', 'selected');
			var $size = $("#product-pop-up select.size option:first").val();
			var $color = $("#product-pop-up select.color option:first").val();
			var $material = $("#product-pop-up select.material option:first").val();
			var $tagSelectOption0 = '#product-select-qw-option-0';
			var $tagSelectOption1 = '#product-select-qw-option-1';
			var $tagSelectOption2 = '#product-select-qw-option-2';

			refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1 , $color, $tagSelectOption2 , $material);


		}//end: success
	});

	//$('.modal-backdrop').css('opacity', '0');
	return false;
}

jQuery(document).ready(function() {
	ega.init();
})

</script>
<section id="page-title">
    <div class="container clearfix">

        <ol class="breadcrumb col-md-6 col-sm-6">
            <li><a href="/">Trang chủ</a></li>

            <li class='active'>Danh mục</li>

        </ol>
    </div>
</section>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class='collection_banner'>

            </div>
            <div class='row'>
                <div class="col-xs-12">
                </div>
                <div class="post_content pull-right col-sm-12 col-xs-12 col-md-9"
                     style="margin-bottom: 15px !important;">
                    @ViewBag.nameCategory
                    <div id="shop" class="product-3 clearfix">
                        <div class="dess">
                        </div>
                        <div class='sort-wrapper'>
                            <div class="browse-tags"
                                 style='margin-bottom:20px;line-height: 30px; '>
                                <div class="col-sm-6 col-md-8 noleftpadding">
                                    <p class="subtext nobottommargin">
                                        Có <span class='require_symbol'>@ViewBag.totalSP</span> sản phẩm.
                                    </p>
                                </div>
                                <div class='col-sm-6 col-md-4 noleftpadding text-right norightpadding' style="margin-bottom:30px;">
                                    <span class='col-sm-4 col-xs-4 nopadding text-left'>Sắp xếp theo:</span>
                                    <div class="dropdown">
                                        @if (ViewBag.CurrentSort == null)
                                        {
                                            <button class="dropbtn">Thứ tự</button>
                                        }
                                        else
                                        {
                                            if (ViewBag.CurrentSort == "ten_asc")
                                            {
                                                <button class="dropbtn">A → Z</button>
                                            }
                                            else if (ViewBag.CurrentSort == "ten_desc")
                                            {
                                                <button class="dropbtn">Z → A</button>

                                            }
                                            else if (ViewBag.CurrentSort == "gia_asc")
                                            {
                                                <button class="dropbtn">Giá tăng dần</button>

                                            }
                                            else if (ViewBag.CurrentSort == "gia_desc")
                                            {
                                                <button class="dropbtn">Giá giảm dần</button>

                                            }
                                            else if (ViewBag.CurrentSort == "gia_desc")
                                            {
                                                <button class="dropbtn">Giá giảm dần</button>

                                            }
                                            else if (ViewBag.CurrentSort == "gia_desc")
                                            {
                                                <button class="dropbtn">Giá giảm dần</button>

                                            }
                                            else if (ViewBag.CurrentSort == "gia_desc")
                                            {
                                                <button class="dropbtn">Giá giảm dần</button>

                                            }
                                            else if (ViewBag.CurrentSort == "gia_desc")
                                            {
                                                <button class="dropbtn">Giá giảm dần</button>

                                            }
                                        }
                                        <ul class="dropdown-content" style="z-index:1000;">
                                            @Html.ActionLink("Sản phẩm nổi bật", "Category", new { sortOrder = ViewBag.NoiBat, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Giá: tăng dần", "Category", new { sortOrder = ViewBag.GiaTangDan, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Giá: giảm dần", "Category", new { sortOrder = ViewBag.GiaGiamDan, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Tên: A-Z", "Category", new { sortOrder = ViewBag.SapTheoTenAZ, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Tên: Z-A", "Category", new { sortOrder = ViewBag.SapTheoTenZA, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Cũ Nhất", "Category", new { sortOrder = ViewBag.SapTheoNgaycCuNhat, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Mới nhất", "Category", new { sortOrder = ViewBag.SapTheoNgaycMoiNhat, currentFilter = ViewBag.CurrentFilter })
                                            @Html.ActionLink("Bán chạn nhất", "Category", new { sortOrder = ViewBag.SapTheoSoLuongBan, currentFilter = ViewBag.CurrentFilter })
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id='grid_pagination'>
                            <div class='grid'>
                                @foreach (var product in Model)
                                {
                                    <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>
                                        <div class="product clearfix">

                                            <div class="haravan-product-reviews-badge" data-id="1003020409">
                                            </div>
                                            <div class="product-image">
                                                <a href="/SanPham/Detail/@product.MaSanPham">
                                                    <img src="@product.HinhMinhHoa"
                                                         alt="@product.TenSanPham">
                                                </a>
                                                <div class="product-overlay">
                                                    <a href='../products/dau-goi-huu-co-tri-gau-gravier-500ml.html'
                                                       class='add-to-cart' data-toggle='tooltip'
                                                       title='Lựa chọn'>
                                                        <i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span>
                                                    </a>
                                                    <a href="#product-pop-up"
                                                       class="item-quick-view fancybox-fast-view hidden-sm hidden-xs"
                                                       product_url="/products/dau-goi-huu-co-tri-gau-gravier-500ml"
                                                       data-toggle='tooltip' title='Xem nhanh'>
                                                        <i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-title">
                                                <h4>
                                                    <a href="/SanPham/Detail/@product.MaSanPham"
                                                       title="@product.TenSanPham">
                                                        @product.TenSanPham
                                                    </a>
                                                </h4>
                                                @*<span>3489940049213</span>*@
                                            </div>
                                            <div class="product-desc">

                                                <div class="product-price">

                                                    <ins> @product.DonGia ₫ </ins>
                                                </div>
                                                <div class="buy_all">
                                                    <a class="product_quick_add" data-toggle='tooltip'
                                                       href="/SanPham/Detail/@product.MaSanPham">
                                                        Mua
                                                        Ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class='pagination_wrapper'>

                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                @Html.PagedListPager(Model, page => Url.Action("Category", new
                                {
                                    page
                                }))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar nobottommargin  left-sidebar col-sm-12 col-xs-12 col-md-3">
                    <div class="sidebar-widgets-wrap">
                        <div class="left-sidebar">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#filter_group">
                                    <h4 class="panel-title">
                                        Danh mục sản phẩm
                                    </h4>
                                </a>
                            </div>

                            <ul class="lv1">
                                @foreach (var dm in @ViewBag.dmSP)
                                {
                                    <li>
                                        <a class="one1" data-href="/SanPham/Category/@dm.MaDanhMuc"
                                           href="javacript:0">
                                            @dm.TenDanhMuc
                                            <i class="fa fa-angle-right right-icon "
                                               aria-hidden="true"></i>
                                        </a>
                                        @if (dm.DanhMuc1.Count > 0)
                                        {
                                            <ul class="lv2">
                                                @foreach (var dmCon in dm.DanhMuc1)
                                                {
                                                    <li>
                                                        <a href="/SanPham/Category/@dmCon.MaDanhMuc" class="one2">
                                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                            @dmCon.TenDanhMuc <i class="fa fa-angle-right right-icon"
                                                                                 aria-hidden="true"></i>
                                                        </a>
                                                        @if (dmCon.DanhMuc1.Count > 0)
                                                        {
                                                            <ul class="lv3">
                                                                @foreach (var dmChau in dmCon.DanhMuc1)
                                                                {
                                                                    <li>
                                                                        <a href="/SanPham/Category/@dmChau.MaDanhMuc">
                                                                            <i class="fa fa-angle-double-right"
                                                                               aria-hidden="true"></i> @dmChau.TenDanhMuc
                                                                        </a>
                                                                    </li>
                                                                }


                                                            </ul>
                                                        }

                                                    </li>
                                                }

                                            </ul>
                                        }
                                    </li>


                                }
                            </ul>
                        </div>
                        <style>
                            .right-icon {
                                float: right;
                                padding-right: 10px;
                            }

                            .lv1 {
                                list-style: none;
                                border: 1px solid #ccc;
                                border-top: none;
                            }

                                .lv1 > li {
                                    border-bottom: 1px solid #ccc;
                                }

                                    .lv1 > li > a {
                                        color: #000;
                                        padding: 5px 10px;
                                        width: 100%;
                                        display: block;
                                    }

                            .lv2 {
                                list-style: none;
                                display: none;
                            }

                                .lv2 > li {
                                    border-top: 1px solid #ccc;
                                }

                                .lv2 li > a {
                                    font-size: 12px;
                                    color: #000;
                                    width: 100%;
                                    padding: 3px 20px;
                                    display: block;
                                }

                                .lv2 li:last-child,
                                .lv1 > li:last-child,
                                .lv3 li:last-child {
                                    border-bottom: none;
                                }

                            .lv3 {
                                display: none;
                            }

                                .lv3 > li {
                                    border-top: 1px solid #ccc;
                                    list-style: none;
                                }

                                .lv3 li > a {
                                    font-size: 12px;
                                    color: #000;
                                    width: 100%;
                                    padding: 3px 0px;
                                    padding-left: 30px;
                                    display: block;
                                }
                        </style>
                        <script>
                            $(document).ready(function () {
                                $('.one1').click(function () {
                                    if ($(this).next('.lv2').css('display') == ('none')) {
                                        $('.lv2').hide();
                                        $(this).next('.lv2').show();
                                    } else {
                                        $(this).next('.lv2').hide();
                                    }
                                });
                            });


                            $(document).ready(function () {
                                $('.one2').click(function () {
                                    if ($(this).next('.lv3').css('display') == ('none')) {
                                        $('.lv3').hide();
                                        $(this).next('.lv3').show();
                                    } else {
                                        $(this).next('.lv3').hide();
                                    }
                                });
                            });
                            $(document).ready(function () {
                                $("ul.lv2 > li a").each(function (item) {
                                    if (window.location.pathname === $(this).attr("href")) {
                                        $(this).closest('ul.lv2 > li').addClass("active");
                                        $(this).closest('lul.lv1').addClass("active");
                                        $(this).closest('ul.lv2').show();
                                    }
                                });
                                $("ul.lv1 > li > a").each(function (item) {
                                    if (window.location.pathname === $(this).attr("data-href")) {
                                        $(this).closest('ul.lv1 > li > a').addClass("active");
                                    }
                                });
                            });

                        </script>
                        <div class="panel-group filter_group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="javascrip:0">
                                        <h4 class="panel-title">
                                            LỌC SẢN PHẨM
                                            <i class='fa fa-angle-down'></i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="filter_group" class="panel-collapse collapse in">


                                    <div class="widget_links clearfix">
                                        <a href='#filter_group_1' data-toggle='collapse'>
                                            <h4>Thương hiệu<i class='fa-angle-down fa'></i></h4>
                                        </a>
                                        <ul id='filter_group_1'
                                            class='panel-collapse collapse in filter_list'>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                             

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Bio Seasons)">
                                                    </span>
                                                    Bio Seasons
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=GRAVIER)">
                                                    </span>
                                                    GRAVIER
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=AVRIL)">
                                                    </span>
                                                    AVRIL
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=ALPHANOVA)">
                                                    </span>
                                                    ALPHANOVA
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Born to Bio)">
                                                    </span>
                                                    Born to Bio
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Bio season)">
                                                    </span>
                                                    Bio season
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Montbrun)">
                                                    </span>
                                                    Montbrun
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Silvercare)">
                                                    </span>
                                                    Silvercare
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Avalon)">
                                                    </span>
                                                    Avalon
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Sobio)">
                                                    </span>
                                                    Sobio
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Born To Bio)">
                                                    </span>
                                                    Born To Bio
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Buccotherm)">
                                                    </span>
                                                    Buccotherm
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Khác)">
                                                    </span>
                                                    Khác
                                                </label>
                                            </li>

                                        </ul>
                                        <div class="mfj">
                                            <a class="view_ss view_ops" href="javascript:0">Xem Thêm</a>
                                            <a class="view_small view_ops" href="javascript:0">Thu Nhỏ</a>
                                        </div>

                                    </div>
                                    <div class="widget_links clearfix">
                                        <a href='#filter_group_4' data-toggle='collapse'>
                                            <h4>Giá<i class='fa-angle-down fa'></i></h4>
                                        </a>
                                        <ul id='filter_group_4'
                                            class='panel-collapse collapse in filter_list'>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="(price:product<=100000)">
                                                    </span>
                                                    dưới 100,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="((price:product>=100000)&&(price:product<=300000))">
                                                    </span>
                                                    100,000₫ - 300,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="((price:product>=300000)&&(price:product<=500000))">
                                                    </span>
                                                    300,000₫ - 500,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="((price:product>=500000)&&(price:product<=1000000))">
                                                    </span>
                                                    500,000₫ - 1,000,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="(price:product>=1000000)">
                                                    </span>
                                                    trên 1,000,000₫
                                                </label>
                                            </li>
                                        </ul>

                                        <div class="mfj">
                                            <a class="view_sss view_ops" href="javascript:0">Xem Thêm</a>
                                            <a class="view_smalls view_ops" href="javascript:0">Thu Nhỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {

                                $('#sortControl option[sort_by=manual]').attr('selected', true);


                                $(".widget_links li input").click(function () {
                                    var searchString = "";
                                    $('#sortControl option[sort_by=manual]').attr('selected', true);
                                    searchString = getStringFilter($(this));
                                    var shop_url = '../index.html';
                                    var urlState = shop_url + '/' + searchString;
                                    window.history.pushState(null, null, urlState);
                                    var url_final = '/' + searchString + '&view=grid_and_control';
                                    loadResultBy(url_final, $("#shop"));
                                    //$(this).parent().find('i').toggleClass('hidden');
                                });
                            });
                            $('#filter_group .widget_links > a').click(function () {
                                var $current = $(this).next().attr('id');
                                $.each($('#filter_group .widget_links .panel-collapse'), function () {
                                    if ($(this).attr('id') != $current) {
                                        $(this).removeClass('in');
                                    }
                                })
                            })
                        </script>


                        <script>
                            $(document).ready(function () {

                                if ($('#filter_group_1').height() >= 232) {
                                    $('#filter_group_1').css('height', '232px');
                                    $('.view_small').hide();
                                    $('.view_ss').click(function () {
                                        $('#filter_group_1').css('height', 'auto');
                                        $('.view_ss').hide();
                                        $('.view_small').show();
                                    });


                                    $('.view_small').click(function () {
                                        $('#filter_group_1').css('height', '232px');
                                        $('.view_small').hide();
                                        $('.view_ss').show();
                                    });

                                }
                                else {
                                    $('.view_small').hide();
                                    $('.view_ss').hide();
                                }

                            });

                        </script>
                        <script>
                            $(document).ready(function () {

                                if ($('#filter_group_4').height() >= 232) {
                                    $('#filter_group_4').css('height', '232px');
                                    $('.view_smalls').hide();
                                    $('.view_sss').click(function () {
                                        $('#filter_group_4').css('height', 'auto');
                                        $('.view_sss').hide();
                                        $('.view_smalls').show();
                                    });


                                    $('.view_small').click(function () {
                                        $('#filter_group_4').css('height', '232px');
                                        $('.view_smalls').hide();
                                        $('.view_sss').show();
                                    });

                                }
                                else {
                                    $('.view_smalls').hide();
                                    $('.view_sss').hide();
                                }

                            });

                        </script>
                        <div class='hidden-xs hidden-sm'>

                            <div class="widget clearfix">

                                <h4><a href='sale.html'>Sản phẩm khuyến mãi</a></h4>
                                <div id="post-list-footer" class='sidebar_menu'>
                                </div>
                            </div>
                            <div class="widget clearfix">
                                <h4><a href='cham-soc-da-mat.html'>Sản phẩm nổi bật</a></h4>
                                <div id="Popular-item" class='sidebar_menu'>


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="cham-soc-da-mat/products/dau-tam-xuan-huu-co-gravier-50ml.html">
                                                <img src="../../product.hstatic.net/1000104489/product/z2545624429571_13058ec86121b7cbcf3b315b3e7caa6a_c6f5c9a71e174a1ca12c928dfb21348e_small.jpg"
                                                     alt="Dầu tầm xuân hữu cơ Gravier 50ml">
                                            </a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="cham-soc-da-mat/products/dau-tam-xuan-huu-co-gravier-50ml.html">
                                                        Dầu
                                                        tầm xuân hữu cơ Gravier 50ml
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li class="color">
                                                    <ins>480,000₫</ins>

                                                </li>
                                                <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="cham-soc-da-mat/products/dau-argan-huu-co-gravier-50ml.html">
                                                <img src="../../product.hstatic.net/1000104489/product/z2545624433750_55daa70e2e15c5c99a257e9a7f193bd5_88cc1ddb69f847879dc409032a6aeca1_small.jpg"
                                                     alt="Dầu argan hữu cơ Gravier 50ml">
                                            </a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="cham-soc-da-mat/products/dau-argan-huu-co-gravier-50ml.html">
                                                        Dầu
                                                        argan hữu cơ Gravier 50ml
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li class="color">
                                                    <ins>375,000₫</ins>

                                                </li>
                                                <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="cham-soc-da-mat/products/dau-hanh-nhan-huu-co-gravier-50ml.html">
                                                <img src="../../product.hstatic.net/1000104489/product/z2545840045213_e687cb1a1590edc51f588635267a9145_2ef6050d1bd0415a98e50bc9e2849283_small.jpg"
                                                     alt="Dầu hạnh nhân hữu cơ Gravier 50ml">
                                            </a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="cham-soc-da-mat/products/dau-hanh-nhan-huu-co-gravier-50ml.html">
                                                        Dầu
                                                        hạnh nhân hữu cơ Gravier 50ml
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li class="color">
                                                    <ins>270,000₫</ins>

                                                </li>
                                                <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="widget clearfix">

                                <h4>Sản phẩm vừa xem</h4>
                                <div class="widget-last-view sidebar_menu">
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var $strHTML = get_viewed_items_html('');
                                    $('.widget .widget-last-view').html($strHTML);
                                })
                            </script>
                            <div class="widget clearfix">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
@*<script>
        $(document).ready(function () {
            $("#sortControl").change(function () {
                var empid = @ViewBag.idCategory;
                var sort = $("#sortControl").val();
                location.href = '@Url.Action("Category", "SanPham")' + '?currentSort=' + sort;
            });
        })
    </script>*@