@model LeafShop.Models.SanPham
<script src="https://kit.fontawesome.com/e38e0bb8bb.js" crossorigin="anonymous"></script>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-title">
    <div class="container clearfix">

        <ol class="breadcrumb col-md-6 col-sm-6">
            <li><a href="/">Trang chủ</a></li>

            <li class='active'>@Model.TenSanPham</li>

        </ol>
    </div>
</section>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="post_content nobottommargin clearfix">
                
                <div class="sidebar nobottommargin left-sidebar col-sm-3 hidden-xs hidden-sm">
                    <div class="sidebar-widgets-wrap">
                      

                        <div class="widget widget_links clearfix hidden">
                            <h4>Danh mục</h4>
                            <ul class='sidebar_menu'>


                                <li><a href="../index.html">Trang chủ</a></li>



                                <li><a href="../collections/all.html">Sản phẩm</a></li>



                                <li><a href="../pages/gioi-thieu-ve-leaf-shop.html">Giới thiệu</a></li>


                            </ul>
                        </div>

                        <!-- end categories -->
                        <!-- recent product -->

                        <div class="widget clearfix">

                            <h4><a href='../collections/sale.html'>Sản phẩm khuyến mãi</a></h4>
                            <div id="post-list-footer" class='sidebar_menu'>



                            </div>

                        </div>

                        <!-- end recent product -->
                        <!-- most popular -->

                        <div class="widget clearfix">

                            <h4><a href='../collections/cham-soc-da-mat.html'>Sản phẩm nổi bật</a></h4>
                            <div id="Popular-item" class="sidebar_menu">

                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="dau-tam-xuan-huu-co-gravier-50ml.html">
                                            <img src="../../product.hstatic.net/1000104489/product/z2545624429571_13058ec86121b7cbcf3b315b3e7caa6a_c6f5c9a71e174a1ca12c928dfb21348e_small.jpg"
                                                 alt="Dầu tầm xuân hữu cơ Gravier 50ml">
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4>
                                                <a href="dau-tam-xuan-huu-co-gravier-50ml.html">
                                                    Dầu tầm xuân
                                                    hữu cơ Gravier 50ml
                                                </a>
                                            </h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">
                                                <ins> 480,000₫</ins>

                                            </li>
                                            <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
                                        </ul>
                                    </div>
                                </div>

                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="dau-argan-huu-co-gravier-50ml.html">
                                            <img src="../../product.hstatic.net/1000104489/product/z2545624433750_55daa70e2e15c5c99a257e9a7f193bd5_88cc1ddb69f847879dc409032a6aeca1_small.jpg"
                                                 alt="Dầu argan hữu cơ Gravier 50ml">
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4>
                                                <a href="dau-argan-huu-co-gravier-50ml.html">
                                                    Dầu argan hữu
                                                    cơ Gravier 50ml
                                                </a>
                                            </h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">
                                                <ins> 375,000₫</ins>

                                            </li>
                                            <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
                                        </ul>
                                    </div>
                                </div>

                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="dau-hanh-nhan-huu-co-gravier-50ml.html">
                                            <img src="../../product.hstatic.net/1000104489/product/z2545840045213_e687cb1a1590edc51f588635267a9145_2ef6050d1bd0415a98e50bc9e2849283_small.jpg"
                                                 alt="Dầu hạnh nhân hữu cơ Gravier 50ml">
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4>
                                                <a href="dau-hanh-nhan-huu-co-gravier-50ml.html">
                                                    Dầu hạnh
                                                    nhân hữu cơ Gravier 50ml
                                                </a>
                                            </h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">
                                                <ins> 270,000₫</ins>

                                            </li>
                                            <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- end most recent -->
                        <!-- related product -->
                        <div class="widget clearfix">
                            <h4><a href='#'>Sản phẩm liên quan</a></h4>
                            <div id="Popular-item" class="sidebar_menu">




                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="banh-gao-an-dam-huu-co-cho-be-vi-bi-ngo-alvins-30g.html">
                                            <img src="../../product.hstatic.net/1000104489/product/banh_gao_an_dam_vi_bi_ngo_97209f5eeff143e4a4f1ee145f4a7454_small.jpg"
                                                 alt="Bánh gạo ăn dặm hữu cơ cho bé vị bí ngô Alvins 30g">
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">


                                            <h4>
                                                <a href="banh-gao-an-dam-huu-co-cho-be-vi-bi-ngo-alvins-30g.html">
                                                    Bánh
                                                    gạo ăn dặm hữu cơ cho bé vị bí ngô Alvins 30g
                                                </a>
                                            </h4>

                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">
                                                <ins> 80,000₫</ins>

                                            </li>
                                            <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
                                        </ul>
                                    </div>
                                </div>



                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="banh-gao-an-dam-huu-co-cho-be-vi-ca-rot-alvins-30g.html">
                                            <img src="../../product.hstatic.net/1000104489/product/banh_gao_an_dam_vi_ca_rot_4d8397e8ed8c4b1abe28d518f8dac0aa_small.jpg"
                                                 alt="Bánh gạo ăn dặm hữu cơ cho bé vị cà rốt Alvins 30g">
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">


                                            <h4>
                                                <a href="banh-gao-an-dam-huu-co-cho-be-vi-ca-rot-alvins-30g.html">
                                                    Bánh
                                                    gạo ăn dặm hữu cơ cho bé vị cà rốt Alvins 30g
                                                </a>
                                            </h4>

                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">
                                                <ins> 80,000₫</ins>

                                            </li>
                                            <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
                                        </ul>
                                    </div>
                                </div>



                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="banh-gao-an-dam-huu-co-cho-be-vi-truyen-thong-alvins-30g.html">
                                            <img src="../../product.hstatic.net/1000104489/product/banh_gao_an_dam_vi_truyen_thong_a6b76504e3a14e8e9f5553e7454a81b7_small.jpg"
                                                 alt="Bánh gạo ăn dặm hữu cơ cho bé vị truyền thống Alvins 30g">
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">


                                            <h4>
                                                <a href="banh-gao-an-dam-huu-co-cho-be-vi-truyen-thong-alvins-30g.html">
                                                    Bánh
                                                    gạo ăn dặm hữu cơ cho bé vị truyền thống Alvins 30g
                                                </a>
                                            </h4>

                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">
                                                <ins> 80,000₫</ins>

                                            </li>
                                            <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <!-- recent view -->

                        <div class="widget clearfix">
                            <h4>Sản phẩm vừa xem</h4>
                            <div class="widget-last-view sidebar_menu">
                            </div>
                        </div>
                        <script>
                            if (typeof get_viewed_items_html == 'function')
                                var $strHTML = get_viewed_items_html('');
                            $('.widget .widget-last-view').html($strHTML);
                        </script>

                        <!-- end recent view -->


                        <div class="widget clearfix" style='overflow:hidden'>



                            <div style="width: 100%;">
                                <!-- Page plugin's width will be 180px -->
                                <div class="fb-page" data-href="https://www.facebook.com/leafshop.vn/"
                                     data-width="320"></div>
                            </div>



                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "../../connect.facebook.net/en_US/sdk.js#xfbml=1&appId=263266547210244&version=v2.0";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                            </script>
                        </div>


                    </div>
                </div>
                <div class='product-page col-md-9'>
                    <div class="single-product">
                        <!--<form method="post" id="ProductDetailsForm" action="/???" crossorigin="anonymous">-->
                        <form method="post" id="ProductDetailsForm" action="#"
                              crossorigin="anonymous">
                            <div class="product">
                                <div class='page_title'>
                                    <h1>
                                        @Model.TenSanPham
                                    </h1>
                                </div>
                                <div style='margin-bottom: 25px;'>
                                    <div class="col-sm-8 pd_img_wrap noleftpadding">

                                        <!-- Product Single - Gallery
        ============================================= -->
                                        <div class="product-image product-main-image">
                                            <div class="slider-wrap">

                                                <div class='pd_slide_thumb slick_thumb col-sm-2 noleftpadding hidden-xs'>

                                                    <div class="">
                                                        <div class="img">

                                                            <img src="@Model.HinhMinhHoa" />
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="pd_slide col-sm-10 nopadding">


                                                    <div class="">
                                                        <div class="img">
                                                            <img class=""
                                                                 src="@Model.HinhMinhHoa" />

                                                        </div>
                                                    </div>


                                                </div>
                                              
                                            </div>



                                        </div><!-- Product Single - Gallery End -->

                                    </div>
                                    <div class="col-sm-4 product-desc">
                                        <div id="hrv-product-reviews" class="hrv-product-reviews"
                                             data-id="1031532360">
                                            <div class="title-bl hidden">
                                                <h2>ĐÁNH GIÁ SẢN PHẨM</h2>
                                            </div>
                                            <div id="hrv-product-reviews-sub" style="width:100%">
                                                <div class="hrv-product-reviews-summary"
                                                     id="hrv-product-reviews-summary"
                                                     style="    width: auto;">

                                                </div>
                                                <div class="hrv-product-reviews-list"
                                                     id="hrv-product-reviews-list">

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Single - Price
        ============================================= -->

                                        <div class='col-sm-12 col-md-12 product_info norightpadding'>

                                            <span>
                                                <strong>Thương hiệu </strong><a href="../collections/nguyen-khoi-farm.html">
                                                    @Model.MaThuongHieu
                                                </a>
                                            </span><br>


                                            <span><strong>Mã sản phẩm </strong>@Model.MaSanPham</span>
                                                
                                        </div>

                                        <div class="product-price col-sm-12 col-md-12 noleftpadding">

                                            <ins> @Model.DonGia ₫</ins>


                                        </div><!-- Product Single - Price End -->
                                        <!-- Product Single - Rating
        ============================================= -->


                                        <div class="clear"></div>

                                        <div class="line"></div>

                                        <!-- Product Single - Quantity & Cart Button
        ============================================= -->

                                        <input type="hidden" class='unit_price_not_formated'
                                               value="31500000" />
                                        <input type="hidden" class="product_url"
                                               value="/products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg" />
                                        <input type="hidden" class="product_title_hd"
                                               value="Thịt ba chỉ lợn sạch Nguyên Khôi Farm 1kg" />
                                        <input type="hidden" class="product_img_small"
                                               value="../../product.hstatic.net/1000104489/product/ba_chi_fcf1bdea1ef844838508716d429b4f3d_master.jpg" />

                                        <div class="hidden" style="">
                                            <select id="product-select" name="id">


                                                <option value="1069074621" class="">
                                                    Hà Nội - @Model.DonGia
                                                </option>

                                                <option value="1074953680" class="">
                                                    Hồ Chí Minh - @Model.DonGia
                                                </option>


                                            </select>
                                        </div>
                                        <!-- variants -->
                                        <div class="product-page-options ">


                                            <div class="sizePicker" id='option-0'>
                                                <label class="control-label options-title">
                                                    Chi
                                                    Nhánh:
                                                </label>
                                                <div class='options-selection'>
                                                    <select class="form-control input-sm">
                                                        <option data_size_code="hanoi"
                                                                data_color_code="hanoi" class="" value="Hà Nội">
                                                            Hà Nội
                                                        </option>
                                                        <option data_size_code="hochiminh"
                                                                data_color_code="hochiminh" class=""
                                                                value="Hồ Chí Minh">
                                                            Hồ Chí Minh
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- end variant -->
                                        <!-- <form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>-->
                                        <div class="quantity product-quantity clearfix col-md-6 col-xs-12 noleftpadding">
                                            <input type="button" value="-" class="minus">
                                            <input type="text" id='product_quantity' readonly step="1"
                                                   min="1" name="quantity" value="1" title="Qty" class="qty"
                                                   size="@Model.SoLuong" />
                                            <input type="button" value="+" class="plus">
                                        </div>
                                        <script>
                                            var quantity = parseInt($('#ProductDetailsForm .product-quantity input.qty').val());

                                            $('#ProductDetailsForm .minus').click(function () {
                                                if (quantity > 0) {
                                                    if (quantity == 1) {
                                                        $('#addtocart').attr('disabled', 'disabled');
                                                    }
                                                    quantity -= 1;
                                                }
                                                else {
                                                    quantity = 0;
                                                }
                                                $('#ProductDetailsForm .product-quantity input.qty').val(quantity);
                                            });
                                            $('#ProductDetailsForm  .plus').click(function () {
                                                $('.add-to-cart').removeAttr('disabled');
                                                if (quantity < 100) {
                                                    quantity += 1;
                                                }
                                                else {
                                                    quantity = 100;
                                                }
                                                $('#ProductDetailsForm .product-quantity input.qty').val(quantity)
                                            });

                                        </script>


                                        <button type="submit" id=''
                                                class="add-to-cart button nomargin col-xs-12 col-md-6 nopadding"
                                                style="height: 40px !important; width: 50% !important; padding: 0 !Important">
                                            Thêm
                                            vào giỏ
                                        </button>

                                        <button type="submit" id=''
                                                class="button col-xs-12 nopadding buynow">
                                            Mua ngay
                                        </button>






                                        <div class="clear"></div>
                                        <div class="line"></div>



                                        <!-- Product Single - Meta
        ============================================= -->
                                        <!-- Product Single - Meta End -->
                                        <!-- Product Single - Share
        ============================================= -->

                                        <div class="si-share noborder clearfix">
                                            <div class='socical-wrapper'>


                                                <ul class="social-icons">
                                                    <!-- check null: == nill -->
                                                    <div class="fb-send"
                                                         data-href="/products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg">
                                                    </div>
                                                    <div class="item">
                                                        <div class="fb-like fix_top"
                                                             data-href="/products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg"
                                                             data-layout="button" data-action="like"
                                                             data-show-faces="true" data-share="true"
                                                             style='margin-right: 5px;'></div>
                                                    </div>

                                                    <!-- old style: <li><a class="facebook" data-original-title="facebook" href="#"></a></li>   ...twitter,googleplus,evernote,tumblr -->

                                                    <script>
                                                        (function () {
                                                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                                            po.src = '../../apis.google.com/js/plusone.js';
                                                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                                        })();
                                                    </script>

                                                </ul>
                                            </div>
                                        </div><!-- Product Single - Share End -->

                                    </div>

                                </div>
                                <div class='clear' style='margin-bottom: 25px;'></div>
                                <div class="col_full nobottommargin">
                                    <div class="aetabs-tabs">
                                        <ul class="tabs clearfix">
                                            <li class="active"><a href="#tab1">Mô tả</a></li>
                                            <li><a href="#tab2">Nguyên Khôi Farm</a></li>
                                            <li><a href="#tab3">Bình luận</a></li>

                                        </ul>
                                        <div class="tabs-content active" id="tab1">
                                            @Model.MoTa
                                        </div>


                                        <div class="tabs-content " id="tab2">
                                            <div>
                                                <span style="font-weight: 400;">
                                                    <img src="../../file.hstatic.net/1000104489/file/nguyen_khoi_07df4bb85bbb443a82f82ef675047c63.jpg"
                                                         width="189" height="178" />
                                                </span>
                                            </div>
                                            <div>
                                                <span style="font-weight: 400;">
                                                    Thịt lợn Nguy&ecirc;n
                                                    Kh&ocirc;i Farm l&agrave; sản phẩm của C&ocirc;ng ty Cổ
                                                    phần Nguy&ecirc;n Kh&ocirc;i Xanh, một đơn vị uy
                                                    t&iacute;n đạt rất nhiều giải thưởng về n&ocirc;ng
                                                    nghiệp (Tham khảo th&ocirc;ng tin trong website:
                                                </span><a href="https://nguyenkhoifarm.com/">
                                                    <span style="font-weight: 400;">https://nguyenkhoifarm.com/</span>
                                                </a><span style="font-weight: 400;">).&nbsp;</span>
                                            </div>
                                            <div>
                                                <span style="font-weight: 400;">
                                                    Thịt lợn Nguy&ecirc;n
                                                    Kh&ocirc;i Farm l&agrave; sản phẩm chất lượng cao được
                                                    sản xuất từ trang trại lợn tại Y&ecirc;n Lập, Ph&uacute;
                                                    Thọ. Đ&acirc;y l&agrave; v&ugrave;ng thung lũng trong
                                                    l&agrave;nh, rất xa c&aacute;c khu c&ocirc;ng
                                                    nghiệp.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="tabs-content " id="tab3">
                                            <div id="fb-root">&nbsp;</div>
                                            <div class="fb-comments">&nbsp;</div>
                                        </div>

                                    </div>

                                    <script>
                                        var menu = $('.aetabs-tabs .tabs li');
                                        var menuLinks = $('.aetabs-tabs .tabs li a');
                                        var tabsContent = $('.aetabs-tabs .tabs-content');
                                        menuLinks.click(function (e) {
                                            e.preventDefault();
                                            var targetBlock = $(this).attr('href');
                                            menu.removeClass('active');
                                            $(this).parent('li').addClass('active');
                                            tabsContent.hide();
                                            $(targetBlock).fadeIn(500);
                                        });
                                    </script>


                                </div>
                            </div>
                            <div class='col-md-8 col-sm-10 bottom_buy nopadding col-xs-12'>

                                <button type="submit" id=''
                                        class="add-to-cart button nomargin col-sm-6 col-xs-12 norightpadding">
                                    Thêm
                                    vào giỏ
                                </button>

                                <button type="submit" id=''
                                        class="button col-xs-12 col-sm-6 nomargin nopadding buynow buttonz">
                                    Mua
                                    ngay
                                </button>


                            </div>
                        </form>
                    </div>
                </div>
                <!-- related products -->
                <!-- end related products -->

            </div>
        </div>
    </div>
</section><!-- #content end -->
<script>
    $(document).ready(function () {
        if ($('#product_quantity').val() == '0') {
            $('.add-to-cart').attr('disabled', 'disabled');
        }
        else {
            $('.add-to-cart').removeAttr('disabled');
        }
    });
</script>

<script>
    var selectCallback = function (variant, selector) {
        if (variant != null) {
            var $tagPrice = '#ProductDetailsForm div.product-price ins';
            var $tagPriceCompare = '#ProductDetailsForm div.product-price del';
            var $tagProductSection = '#ProductDetailsForm';
            update_variant(variant, $tagPrice, $tagPriceCompare, '#addtocart', $tagProductSection);
            if (variant != null && variant.featured_image != null) {
                $(".pd_slide_thumb .slick-list img[src='" + Haravan.resizeImage(variant.featured_image.src, 'small') + "']").click();
            };
        }
    };
</script>

<script>

    $(function () {
        setTimeout(function () {
            if ($(".widget-last-view .entry-title h4 a").length > 0) {
                $(".widget-last-view .entry-title h4 a").each(function () {
                    var path = $(this).attr("href");
                    var title = $(this).text();
                    var url = window.location.protocol + "//" + window.location.host + path + "?title=" + title;
                    $.ajax({
                        url: url,
                        success: function (response) {
                            var desText = $(response).find(".page_title h1").text().trim();
                            Aecomapp.tranFromSource(".widget-last-view *", title, desText, 1);
                        }
                    });
                });
            }
        }, 5000);
    });

    $(".img-zoom").elevateZoom({
        zoomWindowWidth: 350,
        cursor: "crosshair"
    });

    //$(".slick-slide").click(function () {
    //    $(".slick-slide .img-zoom").removeAttr("data-zoom-image");
    //    $.removeData($(".slick-slide .img-zoom"), 'elevateZoom');
    //    $('.zoomContainer').remove();
    //    var z = $(".slick-slide[data-slick-index=" + $(this).attr("data-slick-index") + "] .img-zoom");
    //    z.attr("src", $(this).attr("src")).attr("data-zoom-image", $(this).attr("data-image"));
    //    z.attr("data-zoom-image", $(this).attr("data-zoom-image"));
    //    z.elevateZoom({
    //        zoomWindowWidth: 400,
    //        cursor: "crosshair"
    //    });
    //    $('.zoomWindowContainer div').stop().css("background-image", "url('" + $(this).attr("data-image") + "')");
    //});
</script>

