
@model PagedList.IPagedList<LeafShop.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://kit.fontawesome.com/e38e0bb8bb.js" crossorigin="anonymous"></script>
<section id="page-title">
    <div class="container clearfix">

        <ol class="breadcrumb col-md-6 col-sm-6">
            <li><a href="/">Trang chủ</a></li>

            <li class='active'>Tất cả sản phẩm</li>

        </ol>
    </div>
</section>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class='collection_banner'>

            </div>
            <div class='row'>
                <div class="col-xs-12">
                </div>
                <div class="post_content pull-right col-sm-12 col-xs-12 col-md-9"
                     style="margin-bottom: 15px !important;">
                    Tất cả sản phẩm
                    <div id="shop" class="product-3 clearfix">
                        <div class="dess">
                        </div>
                        <div class='sort-wrapper'>
                            <div class="browse-tags"
                                 style='margin-bottom:20px;line-height: 30px;'>
                                <div class="col-sm-6 col-md-7 noleftpadding">
                                    <p class="subtext nobottommargin">
                                        Có <span class='require_symbol'>@ViewBag.totalSP</span> sản phẩm.
                                    </p>
                                </div>
                                <div class='col-sm-6 col-md-5 noleftpadding text-right norightpadding'>
                                    <span class='col-sm-4 col-xs-4 nopadding text-left'>Sắp xếp theo:</span>
                                    <span class="custom-dropdown custom-dropdown--white pull-right col-sm-8 col-xs-8 norightpadding" style="margin-bottom:30px;">
                                        <div class="dropdown">
                                            @if (ViewBag.CurrentSort == null)
                                            {
                                                <button class="dropbtn">Thứ tự</button>
                                            }
                                            else
                                            {
                                                if (ViewBag.CurrentSort == "ten_asc")
                                                {
                                                    <button class="dropbtn">A → Z</button>
                                                }
                                                else if (ViewBag.CurrentSort == "ten_desc")
                                                {
                                                    <button class="dropbtn">Z → A</button>

                                                }
                                                else if (ViewBag.CurrentSort == "gia_asc")
                                                {
                                                    <button class="dropbtn">Giá tăng dần</button>

                                                }
                                                else if (ViewBag.CurrentSort == "gia_desc")
                                                {
                                                    <button class="dropbtn">Giá giảm dần</button>

                                                }
                                                else if (ViewBag.CurrentSort == "ngay_desc")
                                                {
                                                    <button class="dropbtn">Ngày giảm dần</button>

                                                }
                                                else if (ViewBag.CurrentSort == "ngay_dasc")
                                                {
                                                    <button class="dropbtn">Ngày tăng dần</button>

                                                }
                                                else if (ViewBag.CurrentSort == "slb_asc")
                                                {
                                                    <button class="dropbtn">Số lượng bán</button>

                                                }
                                                else if (ViewBag.CurrentSort == "sl_asc")
                                                {
                                                    <button class="dropbtn">Sản phẩm nổi bật</button>
                                                }
                                            }
                                            <ul class="dropdown-content" style="z-index:1000;">
                                                @Html.ActionLink("Sản phẩm nổi bật", "Index", new { sortOrder = ViewBag.SapTheoSoLuong, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Giá: tăng dần", "Index", new { sortOrder = ViewBag.GiaTangDan, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Giá: giảm dần", "Index", new { sortOrder = ViewBag.GiaGiamDan, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Tên: A-Z", "Index", new { sortOrder = ViewBag.SapTheoTenAZ, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Tên: Z-A", "Index", new { sortOrder = ViewBag.SapTheoTenZA, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Cũ Nhất", "Index", new { sortOrder = ViewBag.SapTheoNgaycCuNhat, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Mới nhất", "Index", new { sortOrder = ViewBag.SapTheoNgaycMoiNhat, currentFilter = ViewBag.CurrentFilter })
                                                @Html.ActionLink("Bán chạy nhất", "Index", new { sortOrder = ViewBag.SapTheoSoLuongBan, currentFilter = ViewBag.CurrentFilter })
                                            </ul>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id='grid_pagination'>
                            <div style="display:flex;flex-wrap:wrap">
                                @foreach (var product in Model)
                                {
                                    <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>
                                        <div class="product clearfix">

                                            <div class="haravan-product-reviews-badge" data-id="1003020409">
                                            </div>
                                            <div class="product-image">
                                                <a href="/SanPham/Detail/@product.MaSanPham">
                                                    <img src="@product.HinhMinhHoa"
                                                         alt="@product.TenSanPham">
                                                </a>
                                                <div class="product-overlay">
                                                    <a href='../products/dau-goi-huu-co-tri-gau-gravier-500ml.html'
                                                       class='add-to-cart' data-toggle='tooltip'
                                                       title='Lựa chọn' style="display:inline-flex;justify-content:center;align-items:center;">
                                                        <i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span>
                                                    </a>
                                                    <a href="#product-pop-up" style="display:inline-flex;justify-content:center;align-items:center;" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" onclick="loadsp(@product.MaSanPham)" product_url="#" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                                                </div>
                                            </div>
                                            <div class="product-title">
                                                <h4>
                                                    <a href="/SanPham/Detail/@product.MaSanPham"
                                                       title="@product.TenSanPham">
                                                        @product.TenSanPham
                                                    </a>
                                                </h4>
                                                @*<span>3489940049213</span>*@
                                            </div>
                                            <div class="product-desc">

                                                <div class="product-price">

                                                    <ins> @product.DonGia ₫ </ins>
                                                </div>
                                                <div class="buy_all">
                                                    @if (product.SoLuong == 0)
                                                    {
                                                        <div class="buy_alls">
                                                            <a href="javascript::0">Hết Hàng</a>
                                                        </div>
                                                    }
                                                    @if (product.SoLuong > 0)
                                                    {
                                                        <div class="buy_all">
                                                            <a class="product_quick_add" data-toggle='tooltip' href="#" onclick="AddToCart(@product.MaSanPham,1)">Mua Ngay</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class='pagination_wrapper'>

                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                @Html.PagedListPager(Model, page => Url.Action("Index", new
                           {
                               page,
                               sortOrder = ViewBag.CurrentSort,
                               currentFilter = ViewBag.CurrentFilter
                           }))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar nobottommargin  left-sidebar col-sm-12 col-xs-12 col-md-3">
                    <div class="sidebar-widgets-wrap">
                        <div class="left-sidebar">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#filter_group">
                                    <h4 class="panel-title">
                                        Danh mục sản phẩm
                                    </h4>
                                </a>
                            </div>

                            <ul class="lv1">
                                <li>
                                    <a class="one1" data-href="/collections/thuc-pham-tuoi-song-che-bien"
                                       href="javacript:0">
                                        Thực phẩm tươi sống <i class="fa fa-angle-right right-icon "
                                                               aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Thịt & thủy hải sản <i class="fa fa-angle-right right-icon"
                                                                       aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">
                                                <li>
                                                    <a href="thit-xuong-noi-tang-san-pham-tu-lon.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Thịt, xương, nội tạng &
                                                        sản phẩm từ lợn
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="gia-cam-trung.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Gia cầm & trứng
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="thuy-hai-san.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Thủy hải sản
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Rau, củ quả tươi <i class="fa fa-angle-right right-icon"
                                                                    aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="rau-an-la-than.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Rau ăn lá, thân
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="rau-an-cu-qua.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Rau ăn củ, quả
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="nam-tuoi.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Nấm tươi
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>


                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Trái cây tươi <i class="fa fa-angle-right right-icon"
                                                                 aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="trai-cay-trong-nuoc.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Trái cây trong nước
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="trai-cay-nhap-khau.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Trái cây nhập khẩu
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>





                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Thực phẩm chế biến sẵn <i class="fa fa-angle-right right-icon"
                                                                          aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="cac-loai-banh.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Các loại bánh
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="bun-pho-banh-trang.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Bún, phở, bánh tráng
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="dau-phu-thach-tuoi.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Đậu phụ, thạch tươi
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>





                                    </ul>



                                <li>
                                    <a class="one1" data-href="/collections/thuc-pham"
                                       href="javacript:0">
                                        Thực phẩm khô <i class="fa fa-angle-right right-icon "
                                                         aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">



                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Đồ uống <i class="fa fa-angle-right right-icon"
                                                           aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="sua-thuc-vat.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Sữa thực vật
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="sua-tuoi.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Sữa tươi
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="cafe-cacao.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Cafe & cacao
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="tra.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Trà
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="nuoc-trai-cay.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Nước trái cây
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="ruou.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Rượu
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>




                                        <li>
                                            <a href="gao.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Gạo hữu cơ
                                            </a>
                                        </li>




                                        <li>
                                            <a href="pho-bun-mien-banh-trang.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Phở, bún, miến, bánh tráng
                                            </a>
                                        </li>




                                        <li>
                                            <a href="mi-nui-spaghetti.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Mì, Nui, Spaghetti
                                            </a>
                                        </li>




                                        <li>
                                            <a href="dau-hat.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Đậu, Đỗ, Hạt
                                            </a>
                                        </li>




                                        <li>
                                            <a href="trai-cay-kho.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Trái cây khô
                                            </a>
                                        </li>




                                        <li>
                                            <a href="banh-keo-snack.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Bánh kẹo, snack
                                            </a>
                                        </li>




                                        <li>
                                            <a href="ngu-coc-an-sang.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Ngũ cốc, Muesli
                                            </a>
                                        </li>





                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Gia vị & Nguyên liệu nấu ăn <i class="fa fa-angle-right right-icon"
                                                                               aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="dau-giam.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dầu & giấm
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="gia-vi.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Muối, gia vị, hạt
                                                        nêm
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="nuoc-sot-nuoc-cham.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Nước chấm & nước sốt
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="duong-chat-tao-ngot.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Đường, chất tạo ngọt
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>




                                        <li>
                                            <a href="bot-banh-mi.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Nguyên liệu làm bánh, đồ tráng
                                                miệng
                                            </a>
                                        </li>




                                        <li>
                                            <a href="do-hop-do-lo.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Đồ hộp, đồ lọ
                                            </a>
                                        </li>




                                        <li>
                                            <a href="thuc-pham-che-bien-chay.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Thực phẩm chế biến chay
                                            </a>
                                        </li>




                                        <li>
                                            <a href="superfoods.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Superfood/TPCN
                                            </a>
                                        </li>




                                        <li>
                                            <a href="thuc-pham-khac-1.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Thực phẩm khác
                                            </a>
                                        </li>





                                    </ul>



                                <li>
                                    <a class="one1" data-href="/collections/lam-dep" href="javacript:0">
                                        Làm
                                        đẹp <i class="fa fa-angle-right right-icon "
                                               aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">



                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Trang điểm <i class="fa fa-angle-right right-icon"
                                                              aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="mat.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Mặt
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="mat-1.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Mắt
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="moi.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Môi
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="mong.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Móng
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="phu-kien-trang-diem.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Phụ kiện trang điểm
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Chăm sóc da mặt <i class="fa fa-angle-right right-icon"
                                                                   aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="sua-rua-mat.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Sữa rửa mặt
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="lotion-toner-xit-khoang.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Lotion/Toner/Xịt
                                                        khoáng
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="tay-trang.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Tẩy trang
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="duong-am-ngay-dem.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Kem/ Serum
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="dau-duong.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dầu dưỡng
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="mat-na.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Mặt nạ/ Tẩy da chết
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="duong-mat-moi.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dưỡng mắt & môi
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="kem-chong-nang.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Kem chống nắng
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>





                                    </ul>



                                <li>
                                    <a class="one1" data-href="/collections/cham-soc-co-the"
                                       href="javacript:0">
                                        Chăm sóc cơ thể <i class="fa fa-angle-right right-icon "
                                                           aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">


                                        <li>
                                            <a href="cham-soc-rang-mieng-1.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Chăm sóc răng miệng
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Vệ sinh cơ thể <i class="fa fa-angle-right right-icon"
                                                                  aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="sua-tam.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Sữa tắm
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="dau-goi-xa.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dầu gội, xả, dưỡng
                                                        tóc
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="xa-phong.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Xà phòng
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="nuoc-rua-tay.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Nước rửa tay
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Dưỡng thể <i class="fa fa-angle-right right-icon"
                                                             aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="duong-body.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dưỡng body
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="duong-tay.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dưỡng tay chân
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="tay-da-chet-toan-than.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Tẩy da chết
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li>
                                            <a href="khu-mui-co-the.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Khử mùi cơ thể
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Chăm sóc vùng kín <i class="fa fa-angle-right right-icon"
                                                                     aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="bang-ve-sinh.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Băng vệ sinh
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="tampon.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Tampon
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="coc-nguyet-san.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Cốc nguyệt san
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="dung-dich-ve-sinh.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Dung dịch vệ sinh
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li>
                                            <a href="cham-soc-ca-nhan.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Chăm sóc cá nhân
                                            </a>
                                        </li>
                                    </ul>
                                <li>
                                    <a class="one1" data-href="/collections/cham-soc-me-be"
                                       href="javacript:0">
                                        Mẹ & bé <i class="fa fa-angle-right right-icon "
                                                   aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Sơ sinh & Trẻ nhỏ <i class="fa fa-angle-right right-icon"
                                                                     aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="ve-sinh-co-the.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Vệ sinh cơ thể bé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="cham-soc-bao-ve-da.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Chăm sóc bảo vệ da
                                                        bé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="cham-soc-rang-mieng.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Chăm sóc răng miệng cho
                                                        bé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="nuoc-hoa-cho-be.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Nước hoa cho bé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="giat-xa-quan-ao.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Giặt/ xả quần áo cho
                                                        bé
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Sữa & Thực phẩm cho bé <i class="fa fa-angle-right right-icon"
                                                                          aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="sua-cho-be.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Sữa cho bé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="an-dam.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Ăn dặm
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="superfoods-tpcn-cho-be.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Superfood/ TPCN cho
                                                        bé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="thuc-pham-khac-cho-be.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Thực phẩm khác cho
                                                        bé
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li>
                                            <a href="javacript:0" class="one2">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Mẹ bầu & Sau sinh <i class="fa fa-angle-right right-icon"
                                                                     aria-hidden="true"></i>
                                            </a>
                                            <ul class="lv3">

                                                <li>
                                                    <a href="sua-cho-me.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Sữa cho mẹ
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="cham-soc-da-cho-me.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Chăm sóc da cho mẹ
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="superfoods-tpcn-cho-me.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Superfood/ TPCN cho
                                                        mẹ
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="cham-soc-ca-nhan-cho-me.html">
                                                        <i class="fa fa-angle-double-right"
                                                           aria-hidden="true"></i> Chăm sóc cá nhân cho
                                                        mẹ
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>
                                    </ul>
                                <li>
                                    <a class="one1" data-href="/collections/cham-soc-nha-cua"
                                       href="javacript:0">
                                        Chăm sóc nhà cửa <i class="fa fa-angle-right right-icon "
                                                            aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="nuoc-rua-chen-bat.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Nước rửa chén bát
                                            </a>
                                        </li>
                                        <li>
                                            <a href="san-pham-giat-xa-quan-ao.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Giặt/ xả quần áo
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ve-sinh-nha-cua.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Tẩy rửa, làm sạch
                                            </a>
                                        </li>
                                        <li>
                                            <a href="khu-mui-thanh-loc-khong-gian.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Khử mùi, thanh lọc không gian
                                            </a>
                                        </li>
                                        <li>
                                            <a href="giay-ve-sinh-khan-giay.html">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                Giấy vệ sinh, khăn giấy
                                            </a>
                                        </li>
                                    </ul>
                                <li>
                                    <a class="one1" data-href="/collections/doi-song-tinh-than"
                                       href="javacript:0">
                                        Đời sống & Tinh thần <i class="fa fa-angle-right right-icon "
                                                                aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="tinh-dau.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Tinh dầu
                                            </a>
                                        </li>
                                        <li>
                                            <a href="huong-nhang.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Hương nhang
                                            </a>
                                        </li>
                                    </ul>
                                <li>
                                    <a data-href="/collections/zero-waste" href="zero-waste.html">
                                        Zero
                                        Waste
                                    </a>
                                </li>
                                <li>
                                    <a class="one1" data-href="/collections/sale" href="javacript:0">
                                        Sale <i class="fa fa-angle-right right-icon " aria-hidden="true"></i>
                                    </a>
                                    <ul class="lv2">


                                        <li>
                                            <a href="soft-5.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> soft 5%
                                            </a>
                                        </li>
                                        <li>
                                            <a href="soft-10.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Sale off 10%
                                            </a>
                                        </li>
                                        <li>
                                            <a href="soft-15.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Sale off 15%
                                            </a>
                                        </li>
                                        <li>
                                            <a href="soft-20.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Sale off 20%
                                            </a>
                                        </li>
                                        <li>
                                            <a href="sale-50.html">
                                                <i class="fa fa-angle-double-right"
                                                   aria-hidden="true"></i> Sale off 50%
                                            </a>
                                        </li>
                                    </ul>
                            </ul>
                        </div>
                        <style>
                            .right-icon {
                                float: right;
                                padding-right: 10px;
                            }

                            .lv1 {
                                list-style: none;
                                border: 1px solid #ccc;
                                border-top: none;
                            }

                                .lv1 > li {
                                    border-bottom: 1px solid #ccc;
                                }

                                    .lv1 > li > a {
                                        color: #000;
                                        padding: 5px 10px;
                                        width: 100%;
                                        display: block;
                                    }

                            .lv2 {
                                list-style: none;
                                display: none;
                            }

                                .lv2 > li {
                                    border-top: 1px solid #ccc;
                                }

                                .lv2 li > a {
                                    font-size: 12px;
                                    color: #000;
                                    width: 100%;
                                    padding: 3px 20px;
                                    display: block;
                                }

                                .lv2 li:last-child,
                                .lv1 > li:last-child,
                                .lv3 li:last-child {
                                    border-bottom: none;
                                }

                            .lv3 {
                                display: none;
                            }

                                .lv3 > li {
                                    border-top: 1px solid #ccc;
                                    list-style: none;
                                }

                                .lv3 li > a {
                                    font-size: 12px;
                                    color: #000;
                                    width: 100%;
                                    padding: 3px 0px;
                                    padding-left: 30px;
                                    display: block;
                                }
                        </style>
                        <script>
                            $(document).ready(function () {
                                $('.one1').click(function () {
                                    if ($(this).next('.lv2').css('display') == ('none')) {
                                        $('.lv2').hide();
                                        $(this).next('.lv2').show();
                                    } else {
                                        $(this).next('.lv2').hide();
                                    }
                                });
                            });


                            $(document).ready(function () {
                                $('.one2').click(function () {
                                    if ($(this).next('.lv3').css('display') == ('none')) {
                                        $('.lv3').hide();
                                        $(this).next('.lv3').show();
                                    } else {
                                        $(this).next('.lv3').hide();
                                    }
                                });
                            });
                            $(document).ready(function () {
                                $("ul.lv2 > li a").each(function (item) {
                                    if (window.location.pathname === $(this).attr("href")) {
                                        $(this).closest('ul.lv2 > li').addClass("active");
                                        $(this).closest('lul.lv1').addClass("active");
                                        $(this).closest('ul.lv2').show();
                                    }
                                });
                                $("ul.lv1 > li > a").each(function (item) {
                                    if (window.location.pathname === $(this).attr("data-href")) {
                                        $(this).closest('ul.lv1 > li > a').addClass("active");
                                    }
                                });
                            });

                        </script>
                        <div class="panel-group filter_group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="javascrip:0">
                                        <h4 class="panel-title">
                                            LỌC SẢN PHẨM
                                            <i class='fa fa-angle-down'></i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="filter_group" class="panel-collapse collapse in">
                                    BEGIN: Vendor filter


                                    <div class="widget_links clearfix">
                                        <a href='#filter_group_1' data-toggle='collapse'>
                                            <h4>Thương hiệu<i class='fa-angle-down fa'></i></h4>
                                        </a>
                                        <ul id='filter_group_1'
                                            class='panel-collapse collapse in filter_list'>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Gravier)">
                                                    </span>
                                                    Gravier
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Bio Seasons)">
                                                    </span>
                                                    Bio Seasons
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=GRAVIER)">
                                                    </span>
                                                    GRAVIER
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=AVRIL)">
                                                    </span>
                                                    AVRIL
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=ALPHANOVA)">
                                                    </span>
                                                    ALPHANOVA
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Born to Bio)">
                                                    </span>
                                                    Born to Bio
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Bio season)">
                                                    </span>
                                                    Bio season
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Montbrun)">
                                                    </span>
                                                    Montbrun
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Silvercare)">
                                                    </span>
                                                    Silvercare
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Avalon)">
                                                    </span>
                                                    Avalon
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Sobio)">
                                                    </span>
                                                    Sobio
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Born To Bio)">
                                                    </span>
                                                    Born To Bio
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Buccotherm)">
                                                    </span>
                                                    Buccotherm
                                                </label>
                                            </li>

                                            <li class='col-xs-12 col-sm-12 col-md-12'>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <i class='fa-check fa hidden'></i>
                                                        <input class="vendor" type="checkbox"
                                                               value="(vendor:product=Khác)">
                                                    </span>
                                                    Khác
                                                </label>
                                            </li>

                                        </ul>
                                        <div class="mfj">
                                            <a class="view_ss view_ops" href="javascript:0">Xem Thêm</a>
                                            <a class="view_small view_ops" href="javascript:0">Thu Nhỏ</a>
                                        </div>

                                    </div>
                                    <div class="widget_links clearfix">
                                        <a href='#filter_group_4' data-toggle='collapse'>
                                            <h4>Giá<i class='fa-angle-down fa'></i></h4>
                                        </a>
                                        <ul id='filter_group_4'
                                            class='panel-collapse collapse in filter_list'>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="(price:product<=100000)">
                                                    </span>
                                                    dưới 100,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="((price:product>=100000)&&(price:product<=300000))">
                                                    </span>
                                                    100,000₫ - 300,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="((price:product>=300000)&&(price:product<=500000))">
                                                    </span>
                                                    300,000₫ - 500,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="((price:product>=500000)&&(price:product<=1000000))">
                                                    </span>
                                                    500,000₫ - 1,000,000₫
                                                </label>
                                            </li>
                                            <li>
                                                <label class='filter_checkbox'>
                                                    <span>
                                                        <input class="price" type="checkbox"
                                                               value="(price:product>=1000000)">
                                                    </span>
                                                    trên 1,000,000₫
                                                </label>
                                            </li>
                                        </ul>

                                        <div class="mfj">
                                            <a class="view_sss view_ops" href="javascript:0">Xem Thêm</a>
                                            <a class="view_smalls view_ops" href="javascript:0">Thu Nhỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {

                                $('#sortControl option[sort_by=manual]').attr('selected', true);


                                $(".widget_links li input").click(function () {
                                    var searchString = "";
                                    $('#sortControl option[sort_by=manual]').attr('selected', true);
                                    searchString = getStringFilter($(this));
                                    var shop_url = '../index.html';
                                    var urlState = shop_url + '/' + searchString;
                                    window.history.pushState(null, null, urlState);
                                    var url_final = '/' + searchString + '&view=grid_and_control';
                                    loadResultBy(url_final, $("#shop"));
                                    //$(this).parent().find('i').toggleClass('hidden');
                                });
                            });
                            $('#filter_group .widget_links > a').click(function () {
                                var $current = $(this).next().attr('id');
                                $.each($('#filter_group .widget_links .panel-collapse'), function () {
                                    if ($(this).attr('id') != $current) {
                                        $(this).removeClass('in');
                                    }
                                })
                            })
                        </script>


                        <script>
                            $(document).ready(function () {

                                if ($('#filter_group_1').height() >= 232) {
                                    $('#filter_group_1').css('height', '232px');
                                    $('.view_small').hide();
                                    $('.view_ss').click(function () {
                                        $('#filter_group_1').css('height', 'auto');
                                        $('.view_ss').hide();
                                        $('.view_small').show();
                                    });


                                    $('.view_small').click(function () {
                                        $('#filter_group_1').css('height', '232px');
                                        $('.view_small').hide();
                                        $('.view_ss').show();
                                    });

                                }
                                else {
                                    $('.view_small').hide();
                                    $('.view_ss').hide();
                                }

                            });

                        </script>
                        <script>
                            $(document).ready(function () {

                                if ($('#filter_group_4').height() >= 232) {
                                    $('#filter_group_4').css('height', '232px');
                                    $('.view_smalls').hide();
                                    $('.view_sss').click(function () {
                                        $('#filter_group_4').css('height', 'auto');
                                        $('.view_sss').hide();
                                        $('.view_smalls').show();
                                    });


                                    $('.view_small').click(function () {
                                        $('#filter_group_4').css('height', '232px');
                                        $('.view_smalls').hide();
                                        $('.view_sss').show();
                                    });

                                }
                                else {
                                    $('.view_smalls').hide();
                                    $('.view_sss').hide();
                                }

                            });

                        </script>
                        <div class='hidden-xs hidden-sm'>
                            <div class="widget clearfix">
                                <h4><a href='cham-soc-da-mat.html'>Sản phẩm nổi bật</a></h4>
                                <div id="Popular-item" class='sidebar_menu'>
                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="cham-soc-da-mat/products/dau-tam-xuan-huu-co-gravier-50ml.html">
                                                <img src="../../product.hstatic.net/1000104489/product/z2545624429571_13058ec86121b7cbcf3b315b3e7caa6a_c6f5c9a71e174a1ca12c928dfb21348e_small.jpg"
                                                     alt="Dầu tầm xuân hữu cơ Gravier 50ml">
                                            </a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="cham-soc-da-mat/products/dau-tam-xuan-huu-co-gravier-50ml.html">
                                                        Dầu
                                                        tầm xuân hữu cơ Gravier 50ml
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li class="color">
                                                    <ins>480,000₫</ins>

                                                </li>
                                                <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="cham-soc-da-mat/products/dau-argan-huu-co-gravier-50ml.html">
                                                <img src="../../product.hstatic.net/1000104489/product/z2545624433750_55daa70e2e15c5c99a257e9a7f193bd5_88cc1ddb69f847879dc409032a6aeca1_small.jpg"
                                                     alt="Dầu argan hữu cơ Gravier 50ml">
                                            </a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="cham-soc-da-mat/products/dau-argan-huu-co-gravier-50ml.html">
                                                        Dầu
                                                        argan hữu cơ Gravier 50ml
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li class="color">
                                                    <ins>375,000₫</ins>

                                                </li>
                                                <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="cham-soc-da-mat/products/dau-hanh-nhan-huu-co-gravier-50ml.html">
                                                <img src="../../product.hstatic.net/1000104489/product/z2545840045213_e687cb1a1590edc51f588635267a9145_2ef6050d1bd0415a98e50bc9e2849283_small.jpg"
                                                     alt="Dầu hạnh nhân hữu cơ Gravier 50ml">
                                            </a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="cham-soc-da-mat/products/dau-hanh-nhan-huu-co-gravier-50ml.html">
                                                        Dầu
                                                        hạnh nhân hữu cơ Gravier 50ml
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li class="color">
                                                    <ins>270,000₫</ins>

                                                </li>
                                                <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="widget clearfix">

                                <h4>Sản phẩm vừa xem</h4>
                                <div class="widget-last-view sidebar_menu">
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var $strHTML = get_viewed_items_html('');
                                    $('.widget .widget-last-view').html($strHTML);
                                })
                            </script>
                            <div class="widget clearfix">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>