@model PagedList.IPagedList<LeafShop.Models.KhachHang>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Khách hàng";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý khách hàng</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-8">
                    @*<span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Thêm mới", "Create")*@
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
                        Thêm mới
                    </button>
                </div>
                <div class="col-sm-4">
                    <div id="datatable_filter" class="dataTables_filter">
                        <div id="datatable_filter" class="dataTables_filter">
                            <form>
                                <button type="submit" hidden>My Button</button>
                                <input type="text" class="form-control" name="searchString" value="@ViewBag.searchString" id="searchString" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="basic-addon2" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Họ tên
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Điện thoại
                        </th>
                        <th>
                            Tên đăng nhập
                        </th>
                        <th>
                            Mật khẩu
                        </th>
                        <th>
                            Ngày sinh
                        </th>
                        <th>
                            Giới tính
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TenKhachHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.DiaChiKhachHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.DienThoaiKhachHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenDangNhap)</td>
                            <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                            <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                            <td>@(item.GioiTinh?"Nam":"Nữ")</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@(item.TrangThai?"Đang hoạt động":"Không hoạt động")</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="loadData(@item.MaKhachHang)" data-target="#modalUpdate" style="background-color: forestgreen">
                                    Cập nhật
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" onclick="deleteData(@item.MaKhachHang)" style="background-color: red">
                                    Xoá
                                </button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page,
            currentFilter = ViewBag.CurrentFilter
            }))
        </div>
    </div>
</div>

<!-- Modal -->
@section Popup{
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">THÊM MỚI KHÁCH HÀNG</h5>
                </div>
                <div class="modal-body">
                    <form id="add-form" onsubmit="return themKhachHang()">
                        <div class="form-group">
                            <label for="TenKhachHang">Tên khách hàng</label>
                            <input type="text" class="form-control" id="tenKhachHang" name="TenKhachHang" placeholder="Nhập tên khách hàng">
                        </div>
                        <div class="form-group">
                            <label for="DiaChiKhachHang">Địa chỉ khách hàng</label>
                            <input type="text" class="form-control" id="diaChiKhachHang" name="DiaChiKhachHang" placeholder="Nhập địa chỉ">
                        </div>
                        <div class="form-group">
                            <label for="TenDangNhap">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="tenDangNhap" name="TenDangNhap" placeholder="Nhập tên đăng nhập">
                        </div> <div class="form-group">
                            <label for="MatKhau">Mật khẩu</label>
                            <input type="text" class="form-control" id="matKhau" name="MatKhau" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="GioiTinh">Giới tính</label>
                            <br />
                            <input class="form-check-input" type="radio" name="GioiTinh" id="gioiTinh1" value="true"> Nam
                            &nbsp;
                            <input class="form-check-input" type="radio" name="GioiTinh" id="gioiTinh2" value="false"> Nữ
                        </div>
                        <div class="form-group">
                            <label for="DienThoai">Điện thoại</label>
                            <input type="number" class="form-control" id="dienThoaiKhachHang" name="DienThoaiKhachHang" placeholder="Nhập số điện thoại">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="email" name="Email" placeholder="Nhập email">
                        </div>
                        <div class="form-group">
                            <label for="NgaySinh">Ngày sinh</label>
                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input type='date' class="form-control" id="ngaySinh" name="NgaySinh" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="GioiTinh">Trạng thái</label>
                            <br />
                            <input class="form-check-input" type="radio" name="TrangThai" id="trangThai1" value="true"> Đang hoạt động
                            &nbsp;
                            <input class="form-check-input" type="radio" name="TrangThai" id="trangThai2" value="false"> Không hoạt động
                        </div>
                        <p id="add-message"></p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="themKhachHang()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section changePopup {
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">CẬP NHẬT KHÁCH HÀNG</h5>
                </div>
                <div class="modal-body">
                    <form id="update-form" onsubmit="return capNhatKhachHang()">
                        <input type="hidden" name="MaKhachHang" id="makh1" />
                        <div class="form-group">
                            <label for="TenKhachHang">Tên khách hàng</label>
                            <input type="text" class="form-control" id="tenKhachHang1" name="TenKhachHang" placeholder="Nhập tên khách hàng">
                        </div>
                        <div class="form-group">
                            <label for="DiaChiKhachHang">Địa chỉ</label>
                            <input type="text" class="form-control" id="diaChiKhachHang1" name="DiaChiKhachHang" placeholder="Nhập địa chỉ">
                        </div>
                        <div class="form-group">
                            <label for="TenDangNhap">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="tenDangNhap1" name="TenDangNhap" placeholder="Nhập tên đăng nhập">
                        </div> <div class="form-group">
                            <label for="MatKhau">Mật khẩu</label>
                            <input type="text" class="form-control" id="matKhau1" name="MatKhau" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="GioiTinh">Giới tính</label>
                            <br />
                            <input class="form-check-input" type="radio" name="GioiTinh" id="gioiTinhb" value="true"> Nam
                            &nbsp;
                            <input class="form-check-input" type="radio" name="GioiTinh" id="gioiTinhg" value="false"> Nữ
                        </div>
                        <div class="form-group">
                            <label for="DienThoai">Điện thoại</label>
                            <input type="number" class="form-control" id="dienThoaiKhachHang1" name="DienThoaiKhachHang" placeholder="Nhập số điện thoại">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="email1" name="Email" placeholder="Nhập email">
                        </div>
                        <div class="form-group">
                            <label for="NgaySinh">Ngày sinh</label>
                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input type='date' class="form-control" id="ngaySinh1" name="NgaySinh" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="GioiTinh">Trạng thái</label>
                            <br />
                            <input class="form-check-input" type="radio" name="TrangThai" id="trangThaib" value="true"> Đang hoạt động
                            &nbsp;
                            <input class="form-check-input" type="radio" name="TrangThai" id="trangThaig" value="false"> Không hoạt động
                        </div>
                        <p id="update-message"></p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="capNhatKhachHang()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section deletePopup {
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">XOÁ KHÁCH HÀNG</h5>
                </div>
                <div class="modal-body">
                    <h4 class="form-group mb-4 text-center fa-1x">
                        Bạn đã chắc chắn chưa ?
                    </h4>
                    <input type="hidden" value="" id="delete-makh" />

                    <button type="button" class="btn btn-block btn-danger" onclick="xoaKhachHang()">Xoá</button>

                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }

    var loadFile2 = function (event) {
        var image = document.getElementById('output2');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

<script src="~/Areas/Administrator/Assets/KhachHang.js"></script>