<!DOCTYPE HTML>
<html>
<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Areas/Administrator/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <style>
        #chart_Container {
            width: 1200px;
            height: 700px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>
</head>



<body>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Báo cáo thống kê</h3>
            </div>
        </div>

        <div class="x_panel">
            <div class="form-group">
                <div class="col-6">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Tháng: @*<input type="number" value="" name="Month" min="1" max="12" required />*@
                            <select name="Month" class="form-select" aria-label="Default select example" style="height: 27px">
                                <option selected>--Chọn Tháng--</option>
                                <option type="number" value="1" name="Month">Tháng 1</option>
                                <option type="number" value="2" name="Month">Tháng 2</option>
                                <option type="number" value="3" name="Month">Tháng 3</option>
                                <option type="number" value="4" name="Month">Tháng 4</option>
                                <option type="number" value="5" name="Month">Tháng 5</option>
                                <option type="number" value="6" name="Month">Tháng 6</option>
                                <option type="number" value="7" name="Month">Tháng 7</option>
                                <option type="number" value="8" name="Month">Tháng 8</option>
                                <option type="number" value="9" name="Month">Tháng 9</option>
                                <option type="number" value="10" name="Month">Tháng 10</option>
                                <option type="number" value="11" name="Month">Tháng 11</option>
                                <option type="number" value="12" name="Month">Tháng 12</option>
                            </select>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;

                            Năm: @*<input type="number" value="" name="Year" required />*@
                            <select name="Year" class="form-select" aria-label="Default select example" style="height: 27px">
                                <option selected>--Chọn Năm--</option>
                                <option type="number" value="2015" name="Year">2015</option>
                                <option type="number" value="2016" name="Year">2016</option>
                                <option type="number" value="2017" name="Year">2017</option>
                                <option type="number" value="2018" name="Year">2018</option>
                                <option type="number" value="2019" name="Year">2019</option>
                                <option type="number" value="2020" name="Year">2020</option>
                                <option type="number" value="2021" name="Year">2021</option>
                                <option type="number" value="2022" name="Year">2022</option>
                            </select>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <input type="submit" value="Xem" class="btn btn-primary" />
                        </p>
                    }
                </div>
            </div>
            <div class="col-6">
                <h4>Tổng doanh thu tháng @ViewBag.MonthYear: <b>@ViewBag.Sum.ToString("N0")đ </b></h4>
                @*<h4>Sản phẩm bán chạy nhất trong tháng @ViewBag.MonthYear: @ViewBag.SanPhamBanChay</h4>
                <h4>Sản phẩm bán còn tồn kho nhiều nhất trong tháng @ViewBag.MonthYear: @ViewBag.SanPhamTonKho </h4>*@
            </div>
            <br />
            <div id="chart_Container">
                <canvas id="bar_chart"></canvas>
            </div>
            <script>
                var testRoomName = @Html.Raw(Json.Encode(ViewBag.ListSanPhamMonth));
                console.log(testRoomName);
                var testRoomMoney = @Html.Raw(Json.Encode(ViewBag.ListMoneyMonth));
                var ctx = $("#bar_chart");
                var barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: testRoomName,
                        datasets: [{
                            label: "Doanh Thu",
                            data: testRoomMoney,
                            backgroundColor: ["rgba(242,166,54,.5)", "rgba(145,65,72,.5)", "rgba(74,25,92,.5)"],
                            borderColor: ["rgba(242,166,54)", "rgba(145,65,72)", "rgba(74,25,92)"],
                            borderWidth: 1
                        }]
                    },

                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            xAses: [{
                                ticks: { BeginAtZero: true }
                            }
                            ]
                        },
                        legend: { display: false }
                    }
                });
            </script>
          
        </div>
    </div>
</body>
</html>  